<style>
    
</style>
<template>
    <div class="container">
        <h4 style="margin-left:50px;">{{words.stores.value}}</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <ul class="hide-bullets">
                    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3" v-for="(store,index) in stores">
                        <store-item :store="store" :withFavouriteButton="false" @removeFromFavourites="removeStore" :inFavouritesPage="true"></store-item>
                    </li>
                </ul>        
            </div>
        </div>
        <h4 style="margin-left:50px;">{{words.products.value}}</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <ul class="hide-bullets">
                    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3" v-for="(product,index) in products">
                        <product-item :product="product" @removeFromFavourites="removeProduct" :modalInSide="true" :inFavouritesPage="true" :withFavouriteButton="false"></product-item>
                    </li>
                </ul>        
            </div>
        </div>
    </div>    
</template>
<script>
    import translate from '../../translate.js';
    import manager from './manager.js';
    import ProductItem from '../Product/Item.vue';
    import StoreItem from '../Store/Item.vue';
    export default{
        data(){
            return{
                stores:manager.stores,
                products:manager.products,
                words:translate.commonWords
            }
        },
        methods:{
            removeProduct(product){
                manager.RemoveProduct(product);
                this.products = manager.products;
            },
            removeStore(store){
                manager.RemoveStore(store);
                this.stores = manager.stores;
            }
        },
        components:{
            'product-item':ProductItem,
            'store-item':StoreItem
        },
        beforeMount:function(){
            if(!manager.hasLoadedFromLocalhost){
                manager.loadFromLocalhost();
                this.stores = manager.stores;
                this.products = manager.products;
            }

        }
    }
</script>