<template>
    <div id="app">
        <nav-bar></nav-bar>
        <nav-header></nav-header>
        <router-view></router-view>
        <nav-footer></nav-footer>
    </div>
</template>
<script>
import Navbar from './Navbar.vue';
import Header from './Header.vue';
import Footer from './Footer.vue';
import Breadcrumb from './Breadcrumb.vue';
import auth from '../auth.js';
import categoryManager from './Category/manager.js';
import translate from '../translate.js';

export default {
    name: 'app',
    data() {
        return {
                auth: auth,
            }
    },
    components: {
        'nav-bar': Navbar,
        'nav-header': Header,
        'nav-breadcrumb':Breadcrumb,
        'nav-footer': Footer,
    },
    methods: {
        signout() {
            auth.signout()
        },
        setWindowWidth(){
            window.currentWindowWidth = 'xs';
            var w = window.innerWidth;
            if (w < 768) {
                window.currentWindowWidth =  'xs';
            } else if (w > 768 && w < 992) {
                window.currentWindowWidth = 'sm';
            } else if (w > 992 && w < 1200) {
                window.currentWindowWidth = 'md';
            } else {
                window.currentWindowWidth = 'lg';
            }
        }
    },
    mounted: function () {
        this.$nextTick(function () {
            auth.check()
        });
        window.touchDevice = ('ontouchstart' in document.documentElement);
        window.setWindowWidth = this.setWindowWidth;
        window.addEventListener('resize', function(event){
            window.setWindowWidth();
            console.log(window.currentWindowWidth);
        }); 
    },
    beforeMount:function(){
        categoryManager.fetchCategories();
        translate.load();
        this.setWindowWidth();
    }
}

</script>