<template>
    <ol class="breadcrumb">      
      <li v-for="(b,ind) in breadcrumbs" class="breadcrumb-item" v-bind:class="{active:ind==breadcrumbs.length-1}"><router-link :to="{name:b.name}"></router-link>{{b.name}}</li>
    </ol>
</template>
<style>
    
</style>
<script>
    export default {
        data() {
                return {
                    breadcrumbs:[]
                }
            },
            methods: {
            },
            mounted: function () {
            },
            watch:{
                '$route' (to, from) {
                     this.breadcrumbs.push(to.name);
                }
            }
    }
</script>