<style>
</style>
<template>
<div class="container"> 
    <!--store-item-group :category="category" :degree="1"></store-item-group>
    <store-item-group :category="category" :degree="2"></store-item-group>
    <store-item-group :category="category" :degree="3"></store-item-group-->
    <store-item-group :category="category"></store-item-group>
</div> 
</template>
<script>
    import StoreItemGroup from './Store/GroupByCat.vue'
    export default {
        created: function () {
                
        },
        data() {
            return {
                category:-1                 
            }
        },
        methods: {
            
        },
        mounted: function () {
        },
        beforeMount: function () {
            this.category = this.$route.params.id;
        },
        components:{
            'store-item-group':StoreItemGroup
        }

    }
</script>