<style>
    .footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


</style>
<template>
    <footer class="footer-distributed container" style="background-color: #676b6f;">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div><img src="images/logo_main.png" style="margin-left: 15%;"/></div>
				<br /> 
				<p class="footer-company-name" style="color:#fff;">© 2016—2017 {{words.ltd.value}} «Бар Базар» </p>
				<br /> 
				<p class="footer-company-name" style="color:#fff;cursor:pointer;"  @click="showModal=true">{{words.agreement_with_user.value}}</p>
				<br /> 
				<p class="footer-company-name" style="color:#fff;cursor:pointer;"  @click="showPaymentInfoModal=true">{{words.payment_info.value}}</p>
				<agreement-modal :view="true" v-if="showModal"></agreement-modal>
				<paymentinfo-modal @close="closePaymentInfoModal" v-if="showPaymentInfoModal==true"></paymentinfo-modal>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" style="font-size:12px;color:#fff;">
				<div>
					<i class="fa fa-phone"></i>
					<p>+7 (7132) 71 71 18 ({{words.info.value}})<br /><br />
					+7 (7132) 71 71 19 ({{words.reception.value}})<br /><br />
					+7 (7132) 71 71 20 ({{words.admin.value}})</p>					
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p style="color: white;">info@barbazar.kz</p>
				</div>
				<div>
					<i class="fa fa-map-marker"></i>
					<p>{{words.companyAddressCountry.value}}, {{words.companyAddressCity.value}}<br />{{words.companyAddressStreet.value}},<br />{{words.companyBC.value}}
					</p>
				</div>

			</div>
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" v-if="isMobile">
				<p class="footer-company-about" style="color:#fff;">
					{{words.follow_us.value}}.
				</p>
				<div class="footer-icons">
					<a href="https://www.instagram.com/barbazar_aktobe" target="_blank"><i class="fa fa-instagram"></i></a>
					<a href="https://vk.com/barbazar_kz" target="_blank"><i class="fa fa-vk"></i></a>
					<a href="https://www.youtube.com/channel/UCnYAagOPaCahToUDtKGspWQ" target="_blank"><i class="fa fa-youtube"></i></a>
					<a href="https://api.whatsapp.com/send?phone=77084717120" target="_blank"><i class="fa fa-whatsapp"></i></a>
					<a href="https://www.facebook.com/bazar.bar.12?ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></a>
				</div>

			</div>
		</div>	
	</footer>
</template>
<script>
    import translate from '../translate.js';
	import AgreementModal  from './Dashboard/AgreementModal.vue';
	import PaymentInfoModal  from './PaymentInfoModal.vue';
    export default {
        name:'footer',
		data() {
                return {
					showModal:false,
					showPaymentInfoModal:false,
                    words:translate.commonWords,
					isMobile:window.touchDevice
                }
            },
            methods: {
                closePaymentInfoModal(){
					this.showPaymentInfoModal = false;
				}
            },
            mounted: function () {
                
            },
			components:{
				'agreement-modal':AgreementModal,
				'paymentinfo-modal':PaymentInfoModal
			}
    }
</script>