<style>
 @media (min-width: 768px) {
  #full-size-image-modal {
      display: flex; justify-content: center;
  }
}
 
</style>
<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container" style="width: 100% !important;height: 100% !important;">
                    <div class="row" style="border-bottom:none;">
                        <button type="button" class="close" style="opacity: 1 !important;font-size:60px !important;position: inherit !important; top:0px !important;right:0px !important;"  @click="close()">&times;</button>
                    </div>
                    <div class="modal-body" id="full-size-image-modal" style="padding: 0px 5px !important;margin: 5px 0;max-height:100%;max-width:100%;">
                        <img class="fit-contain-image" :src="path">
                    </div>
                </div>
            </div>
        </div>
    </transition>    
</template>
<script>
    export default{
       props:['path'],
       data(){
           return{
               
           }
       },
       components:{
       },
       methods:{
            close(){
                this.$emit('close');
            },
            
       },
       mounted:function(){
            
       },
       beforeMount:function(){
           
       }
       
    }
</script>

