<style>

</style>
<template>
    <div style="margin: 68px 0 10px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 hidden-xs text-center">
					<ul v-if="isHomePage!=true" class="nav nav-pills" style="width:100%;">
						<li class="dropdown" style="width:100%;">
							<a class="dropdown-toggle text-center" data-toggle="dropdown" href="#" style="width:100%;">
							    <span class="glyphicons glyphicons-list"></span>{{words.category.value}} 
							</a>
							<category-menu :isDropdown="true"></category-menu>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="margin-bottom:10px;">
					<search></search>	
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 hidden-xs" v-if="isRegPage==false">
					<router-link v-if="!auth.user||auth.user.authenticated!=true" class="btn" style="width:100%;background-color:#ff9900;color:white;" :to="{ name: 'auth',params:{type:'register'} }">
						<span class="glyphicon glyphicon-plus"></span>
						{{words.open_shop.value}}
					</router-link>
					<!--router-link v-if="auth.user&&auth.user.authenticated==true&&auth.user.profile!=null&&auth.user.profile!=undefined&&auth.user.profile.has_store!=true&&auth.user.profile.agreed==true" class="btn" style="width:100%;background-color:#ff9900;color:white;" :to="{ name: 'dashboard',params:{type:'mystore'} }">
						<span class="glyphicon glyphicon-plus"></span>
						{{words.open_shop.value}}
					</router-link-->
					<router-link v-if="auth.user&&auth.user.authenticated==true&&auth.user.profile!=null&&auth.user.profile.has_store!=true&&auth.user.profile.agreed!=true" class="btn" style="width:100%;background-color:#ff9900;color:white;" :to="{ name: 'dashboard',params:{type:'profile'} }">
						<span class="glyphicon glyphicon-plus"></span>
						{{words.open_shop.value}}
					</router-link>
				</div>
			</div>
			<div class="row hidden-sm hidden-md hidden-lg hidden-xl">
			    <div class="col-xs-12" v-if="isRegPage==false">
					<router-link v-if="!auth.user||auth.user.authenticated!=true" class="btn" style="width:100%;background-color:#ff9900;color:white;" :to="{ name: 'auth',params:{type:'register'} }">
						<span class="glyphicon glyphicon-plus"></span>
						{{words.open_shop.value}}
					</router-link>
					<router-link v-if="auth.user&&auth.user.authenticated==true&&auth.user.profile!=null&&auth.user.profile.has_store!=true&&auth.user.profile.agreed!=true" class="btn" style="width:100%;background-color:#ff9900;color:white;" :to="{ name: 'dashboard',params:{type:'profile'} }">
						<span class="glyphicon glyphicon-plus"></span>
						{{words.open_shop.value}}
					</router-link>
                    <cat-sidebar v-if="isHomePage!=true"></cat-sidebar>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
    import Search from './Search/Form.vue';
    import CategoryMenu from './Category/Menu.vue';
	import CategoryMenuSidebar from './Category/Sidebar.vue';
	import translate from '../translate.js';
	import auth from '../auth.js';
    export default {
        data() {
                return {
					words:translate.commonWords,
					isHomePage:false,
					auth:auth,
					isRegPage:false
                }
            },
		methods: {
		},
		mounted: function () {
                 
		},
		beforeMount(){
			this.isHomePage = this.$route.name=="home";
			this.isRegPage = this.$route.name=="auth"&&this.$route.params.type=="register";
        },
		watch:{
			'$route' (to, from) {
				this.isHomePage = to.name==="home";
				this.isRegPage = to.name=="auth"&&to.params.type=="register";
			}
		},
		components: {
           'category-menu': CategoryMenu,
		   'search':Search,
		   'cat-sidebar':CategoryMenuSidebar
		}
    }
</script>