<style>
</style>
<template>
<div class="container"> 
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3" v-if="windowWidth!='xs'">
            <!--p class="text-default" style="padding:0em 3em;">{{words.stores.value}}</p-->
            <category-menu :isDropdown="false"></category-menu>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <ads-slider></ads-slider>            
        </div>    
    </div>
    <div style="margin:5px 2px;" class="row" v-if="windowWidth=='xs'" >
         <category-menutree></category-menutree>
    </div>
    <product-item-group  :degree="1" v-if="windowWidth!='xs'"></product-item-group>
    <product-item-group  :degree="2" v-if="windowWidth!='xs'"></product-item-group>   
    <product-item-groupmini :degree="1" v-if="windowWidth=='xs'"></product-item-groupmini>
    <product-item-groupmini :degree="2" v-if="windowWidth=='xs'"></product-item-groupmini>
</div> 
</template>
<script>
    import ProductItemGroup from './Product/Group.vue';
    import ProductItemGroupMini from './Product/GroupMini.vue';
    import AdsSlider from './Ads/Slider.vue';
    import CategoryMenu from './Category/Menu.vue';
    import CategoryMenuTree from './Category/MenuTree.vue';
    import translate from '../translate.js';
    
    export default {
        data() {
            return {
                words:translate.commonWords,
                windowWidth:window.currentWindowWidth
            }
        },
        methods: {
        },
        mounted: function () {
        },
        beforeMount: function () {

        },
        components:{
            'product-item-group':ProductItemGroup,
            'product-item-groupmini':ProductItemGroupMini,
            'category-menu':CategoryMenu,
            'category-menutree':CategoryMenuTree,
            'ads-slider':AdsSlider
        }

    }
</script>