<style>
.documentation-block {
    padding: 0 0 20px;
}
.documentation-title {
    display: block;
    margin: 0 0 11px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}
.documentation-text {
    font-size: 14px;
    line-height: 20px;
    color: #363636;
    padding: 0 0 31px;
}    
</style>
<template>
    <transition name="modal">
            <div class="modal-mask2">
                <div class="modal-wrapper">
                    <div class="modal-dialog" style="overflow-y: initial !important">
                        <div class="modal-content" style="width: 100% !important; max-width: 900px !important;">
                            <div class="modal-header">
                                <button type="button" class="close" style="color:#000000 !important;" @click="close()">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">{{words.payment_info.value}}</h4>
                            </div>
                            <div class="modal-body" style="height: 500px;overflow-y: auto;">
                                <div class="documentation-block">
                                    <span class="documentation-title">Платежи. Оплата банковской картой онлайн</span>
                                    <div class="documentation-text">
                                        <p>Наш сайт подключен к интернет-эквайрингу, и Вы можете оплатить за размещение вашего магазина на нашем сайте банковской картой Visa или Mastercard. После подтверждения выбранного тарифа откроется защищенное окно с платежной страницей процессингового центра CloudPayments, где Вам необходимо ввести данные Вашей банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3D Secure. Если Ваш Банк поддерживает данную технологию, Вы будете перенаправлены на его сервер для дополнительной идентификации. Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.</p>
                                    </div>
                                </div>
                                <div class="documentation-block">
                                    <span class="documentation-title">Гарантии безопасности</span>
                                    <div class="documentation-text">
                                        <p>Процессинговый центр CloudPayments защищает и обрабатывает данные Вашей банковской карты по стандарту безопасности PCI DSS 3.0. Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. CloudPayments не передает данные Вашей карты нам и иным третьим лицам. Для дополнительной аутентификации держателя карты используется протокол 3D Secure.</p>
                                        <br>
                                        <p>В случае, если у Вас есть вопросы по совершенному платежу, Вы можете обратиться в службу поддержки клиентов платежного сервиса по электронной почте <a href="mailto:support@cloudpayments.kz">support@cloudpayments.kz</a>.</p>
                                    </div>
                                </div>   
                                <div class="documentation-block">
                                    <span class="documentation-title">Безопасность онлайн платежей</span>
                                    <div class="documentation-text">
                                        <p>Предоставляемая Вами персональная информация (имя, адрес, телефон, e-mail, номер кредитной карты) является конфиденциальной и не подлежит разглашению. Данные Вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.</p>
                                        <br>
                                        <p>Мы рекомендуем вам проверить, что ваш браузер достаточно безопасен для проведения платежей онлайн, на <a href="https://my.cloudpayments.ru/ru/browser">специальной странице</a>.</p>
                                        <br>
                                        <p>Безопасность обработки Интернет-платежей гарантирует ТОО «CloudPayments Kazakhstan». Все операции с платежными картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем. При передаче информации используются специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой компании.</p>
                                        <br>
                                        <div>
                                            <img src="images/logo-small.png" alt="CloudPayments" style="vertical-align: bottom">&nbsp;&nbsp;
                                            <img src="images/vbv.png" alt="Verifyed By Visa" style="vertical-align: bottom">&nbsp;&nbsp;
                                            <img src="images/mastercard-securecode.png" alt="MasterCard SecureCode" style="vertical-align: bottom">&nbsp;&nbsp;
                                            <img src="images/MIRaccept.png" alt="MirAccept" style="vertical-align: bottom">
                                        </div>
                                    </div>
                                </div>
                                <div class="documentation-block">
                                    <span class="documentation-title">Конфиденциальность</span>
                                    <div class="documentation-text">
                                        <p>1. Определения</p>
                                        <br>
                                        <p>Интернет проект <span class="brown bold">www.barbazar.kz</span> (далее – URL, «мы») серьезно относится к вопросу конфиденциальности информации своих клиентов и посетителей сайта <span class="brown bold">www.barbazar.kz</span> (далее – «вы», «посетители сайта»). Персонифицированной мы называем информацию, содержащую персональные данные (например: ФИО, логин или название компании) посетителя сайта, а также информацию о действиях, совершаемых вами на сайте URL. (например: заказ посетителя сайта с его контактной информацией). Анонимными мы называем данные, которые невозможно однозначно идентифицировать с конкретным посетителем сайта (например: статистика посещаемости сайта).</p>
                                        <br>
                                        <p>2. Использование информации</p>
                                        <br>
                                        <p>Мы используем персонифицированную информацию конкретного посетителя сайта исключительно для обеспечения ему качественного оказания услуг и их учета. Мы не раскрываем персонифицированных данных одних посетителей сайта URL другим посетителям сайта. Мы никогда не публикуем персонифицированную информацию в открытом доступе и не передаем ее третьим лицам. Исключением являются лишь ситуации, когда предоставление такой информации уполномоченным государственным органам предписано действующим законодательством Республики Казахстан. Мы публикуем и распространяем только отчеты, построенные на основании собранных анонимных данных. При этом отчеты не содержат информацию, по которой было бы возможным идентифицировать персонифицированные данные пользователей услуг. Мы также используем анонимные данные для внутреннего анализа, целью которого является развитие продуктов и услуг URL </p>
                                        <br>
                                        <p>3. Ссылки </p>
                                        <br>
                                        <p>Сайт <span class="brown bold">www.barbazar.kz</span> может содержать ссылки на другие сайты, не имеющие отношения к нашей компании и принадлежащие третьим лицам. Мы не несем ответственности за точность, полноту и достоверность сведений, размещенных на сайтах третьих лиц, и не берем на себя никаких обязательств по сохранению конфиденциальности информации, оставленной вами на таких сайтах.</p>
                                        <br>
                                        <p>4. Ограничение ответственности</p>
                                        <br>
                                        <p>Мы делаем все возможное для соблюдения настоящей политики конфиденциальности, однако, мы не можем гарантировать сохранность информации в случае воздействия факторов находящихся вне нашего влияния, результатом действия которых станет раскрытие информации. Сайт <span class="brown bold">www.barbazar.kz</span> и вся размещенная на нем информация представлены по принципу "как есть” без каких-либо гарантий. Мы не несем ответственности за неблагоприятные последствия, а также за любые убытки, причиненные вследствие ограничения доступа к сайту URL или вследствие посещения сайта и использования размещенной на нем информации.</p>
                                        <br>
                                        <br>
                                        <p>5. Контакты</p>
                                        <div>
                                            <i class="fa fa-phone"></i>
                                            <p>+7 (7132) 71 71 18 ({{words.info.value}})<br /><br />
                                            +7 (7132) 71 71 19 ({{words.reception.value}})<br /><br />
                                            +7 (7132) 71 71 20 ({{words.admin.value}})</p>					
                                        </div>
                                        <div>
                                            <i class="fa fa-map-marker"></i>
                                            <p>{{words.companyAddressCountry.value}}, {{words.companyAddressCity.value}} <br />
                                            {{words.companyAddressStreet.value}} , {{words.companyBC.value}}
                                            </p>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <div class="documentation-block">
                                    <span class="documentation-title">Юридическое лицо</span>
                                    <div class="documentation-text">
                                         <p>ТОО «Бар Базар»</p>                              
                                         <p>ИИН/БИН 170440004545</p>
                                         <p>ИИК KZ809470398990786470</p>
                                         <p>БИК ALFAKZKA</p>
                                         <p>АО ДБ «Альфа- банк»</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
</template>
<script>
    import translate from '../translate.js';
    import Vue from 'vue';
    export default {
        data() {
            return {
                words:translate.commonWords
            }
        },
        computed: {
            
        },
        methods: {
            close(){
                this.$emit('close');
            }
        }
    }

</script>