<style>
   .ad-image-form-container{
        display: block;
        height: 355px;
        width:675px;
        cursor: pointer;
        line-height: 355px;
        padding: 1px;
   }
   .ad-image{
       max-width:677px;
       max-height:357px;
   }
   .empty-image-container{
        border: dashed;
   }   
</style>
<template>
    <form id="confirmSaveAdForm" method="post" v-on:submit="saveAd($event)">
                <!-- Begin Listing: 609 W GRAVERS LN-->
                <div v-if="inValid||serverError" class="alert alert-danger">
                    <p v-if="missingPhoto()==true">{{words.missingPhoto.value}}</p>
                </div>
                <div class="alert alert-success" v-if="ad.success">
                    <p v-if="ad.isNew==true">{{words.adCreateSuccess.value}}</p>
                    <p v-if="ad.isNew!=true">{{words.adEditSuccess.value}}</p>
                </div>        
                <div class="row">
                    <div class="col-xs-1">
                    </div>
                    <div class="col-xs-10">
                         <div class="ad-image-form-container" v-bind:class="{'empty-image-container':!ad.data.img_url}">
                            <img src="images/image-none.png" v-if="missingPhoto()" class="ad-image" />
                            <img :src="'photos/ads/'+ad.data.img_url" v-if="ad.data.img_url!=null" class="ad-image" />
                            <img :src="'photos/tmp/original/'+ad.data.tmp_img_url" v-if="ad.data.tmp_img_url!=null" class="ad-image" />                            
                        </div>
                        <br />
                        <span class="btn btn-success btn-file pull-right"  v-if="ad.editMode==true" :disabled="imageIsLoading">
                            <span class="glyphicon"  v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':imageIsLoading,'glyphicon-plus':!imageIsLoading}"></span> 
                            <span v-if="!ad.data.img_url"> {{words.add_photo.value}}</span>
                            <span v-if="ad.data.img_url"> {{words.change_photo.value}}</span>
                            <input type="file" v-on:change="processAdFile($event)">
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                     <div class="col-xs-12 form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-3 control-label" style="padding: 0 2px 0 0;">{{words.orderer.value}}</label>  
                            <div class="col-xs-9">
                                <input :disabled="ad.editMode!=true" :placeholder="words.name.value" class="form-control"  type="text" v-model="ad.data.name">
                                <!--div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input :disabled="ad.editMode!=true" :placeholder="words.name.value" class="form-control"  type="text" v-model="ad.data.name">
                                </div-->
                                <span v-if="inValid&&missingName()==true" class="error-text">{{words.missingName.value}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" style="padding: 0 2px 0 0;">{{words.url.value}}</label>  
                            <div class="col-xs-9">
                                <input :disabled="ad.editMode!=true" :placeholder="words.url.value" class="form-control"  type="text" v-model="ad.data.url">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-3 control-label" style="padding: 0 2px 0 0;">{{words.phone_number.value}}</label>  
                            <div class="col-xs-9">
                                <input :disabled="ad.editMode!=true" :placeholder="words.phone_number.value" class="form-control"  type="text" v-model="ad.data.phone">
                                <!--div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input :disabled="ad.editMode!=true" :placeholder="words.phone_number.value" class="form-control"  type="text" v-model="ad.data.phone">
                                </div-->
                                <span class="error-text" v-if="inValid&&missingPhone()==true">{{words.missingPhone.value}}</span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-xs-3 control-label">{{words.title.kz}}</label>  
                            <div class="col-xs-9">
                                <input :disabled="ad.editMode!=true" :placeholder="words.title.kz" class="form-control"  type="text" v-model="ad.data.head_kz">
                                <!--div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                    <input :disabled="ad.editMode!=true" :placeholder="words.title.kz" class="form-control"  type="text" v-model="ad.data.head_kz">
                                </div-->
                                <span class="error-text" v-if="inValid&&missingHeadKz()==true">{{words.missingTitle.kz}}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-3 control-label">{{words.title.ru}}</label>  
                            <div class="col-xs-9">
                                <input :disabled="ad.editMode!=true" :placeholder="words.title.ru" class="form-control"  type="text" v-model="ad.data.head_ru">
                                <!--div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                    <input :disabled="ad.editMode!=true" :placeholder="words.title.ru" class="form-control"  type="text" v-model="ad.data.head_ru">
                                </div-->
                                <span class="error-text" v-if="inValid&&missingHeadRu()==true">{{words.missingTitle.ru}}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-3 control-label">{{words.comment.kz}}</label>
                            <div class="col-xs-9">
                                <textarea :disabled="ad.editMode!=true" class="form-control" v-model="ad.data.text_kz" :placeholder="words.comment.kz"></textarea>
                                <!--div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                        <textarea :disabled="ad.editMode!=true" class="form-control" v-model="ad.data.text_kz" :placeholder="words.comment.kz"></textarea>
                                </div-->
                                <span class="error-text" v-if="inValid&&missingCommentKz()==true">{{words.missingComment.kz}}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-3 control-label">{{words.comment.ru}}</label>
                            <div class="col-xs-9">
                                <textarea :disabled="ad.editMode!=true" class="form-control" v-model="ad.data.text_ru" :placeholder="words.comment.ru"></textarea>
                                <!--div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                        <textarea :disabled="ad.editMode!=true" class="form-control" v-model="ad.data.text_ru" :placeholder="words.comment.ru"></textarea>
                                </div-->
                                <span class="error-text" v-if="inValid&&missingCommentRu()==true">{{words.missingComment.ru}}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-3 control-label">{{words.published.value}}</label>
                            <div class="col-xs-9 ">
                                <div class="checkbox">
                                    <label>
                                        <input :disabled="ad.editMode!=true" type="checkbox" v-model="ad.data.publish">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" v-bind:class="{'hidden':!ad.data.publish}">
                            <label class="col-xs-3 control-label">{{words.expire_date.value}}</label>
                            <div class="col-xs-9">
                                 <input :disabled="ad.editMode!=true" type="date" class="form-control" :value="ad.data.expire_date" v-model="ad.data.expire_date">
                            </div>
                        </div>
                        <hr />
                        <div v-if="ad.editMode==true" class="pull-right">
                                <button type="submit" class="btn btn-success" style="margin-right:10px;">
                                    <span class="glyphicon" style="margin-right:10px;" v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':saveLoading,'glyphicon-ok':!saveLoading}"></span>{{words.save.value}}
                                </button> 
                                <button type="button" @click="cancel($event)" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"  style="margin-right:15px;"></span>{{words.cancel.value}}</button>
                        </div>
                        <button type="button" v-if="ad.editMode!=true" @click="setEditMode($event)" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-pencil" style="margin-right:10px;"></span>{{words.edit.value}}</button>                         
                    </div>
                </div>
        </form>    
</template>
<script>
    import Vue from 'vue';
    import translate from '../../translate.js';
    
    export default {
        name: 'adForm',
        props:['ad'],
        data() {
            return {
                words:translate.commonWords,
                serverError:false,
                inValid:false,
                notSavedData:null,                
                imageIsLoading:false,
                saveLoading:false,
                
            }
        },
        methods:{
            saveAd(event){
                event.preventDefault();
                this.inValid = this.missingName()||this.missingPhone()||this.missingHeadKz()||this.missingHeadRu()||this.missingCommentKz()||this.missingCommentRu()||this.missingPhoto();
                if(this.inValid){
                    return;
                }
                this.saveLoading = true;
                this.editMode = false;
                let token = localStorage.getItem('id_token')
                if (token !== null) {
                    Vue.http.post(
                        'api/admin/ads?token=' + token,this.ad.data
                    ).then(response => {
                        if(response.data.data){
                            this.ad.data = response.data.data;                           
                            this.notSavedData = JSON.parse(JSON.stringify(this.ad.data));
                            this.ad.saved = true;
                            this.ad.success = true;
                            this.ad.error = false;
                            this.ad.isNew = false;
                        }
                        this.ad.editMode = false;
                        this.$emit('update');
                        this.ad.data.tmp_img_url = null;
                        //this.$parent.$options.methods.fetchData();
                        this.saveLoading = false;
                    },response=>{
                        this.ad.saved = false;
                        this.ad.error = true;
                        this.saveLoading = false;
                        this.editMode = true;
                    })
                }    
            },
            processAdFile(event) {
                this.imageIsLoading = true;
                let file = event.target.files[0];
                var formData = new FormData();
                let event_ = event;
                formData.append('file', file);
                formData.append('ads', true);
                let token = localStorage.getItem('id_token');
                Vue.http.post('api/upload_tmp?token='+token,formData).then(response => {
                    event_.target.value = null;
                    if(this.ad.data.tmp_img_url ){
                        let token = localStorage.getItem('id_token');
                        Vue.http.post('api/delete_tmp?token='+token,{file_name:this.ad.data.tmp_img_url }).then(
                        response => {
                            console.log('tmp file delete success');
                        }, 
                        response => {
                            console.log('tmp file delete fail');
                        })
                    }
                    this.ad.data.img_url =  null;
                    this.ad.data.tmp_img_url = response.data.file_name;
                    this.imageIsLoading = false;                    
                }, 
                response => {
                    console.log('upload ad new image failed');
                    this.serverError = true;
                    this.imageIsLoading = false;
                })
            },
            removeAdEditImage(event){
                this.ad.data.img_url = null;
                if(isNew){
                    let token = localStorage.getItem('id_token');
                    Vue.http.post('api/delete_tmp?token='+token,{file_name:this.ad.data.img_url}).then(
                        response => {
                            console.log('tmp file delete success');
                        }, 
                        response => {
                            console.log('tmp file delete fail');
                        })
                }
            },
            missingName(){
                return !this.ad.data||!this.ad.data.name||this.ad.data.name === ''||this.ad.data.name.trim() === '';
            },
            missingPhone(){
                return !this.ad.data||!this.ad.data.phone||this.ad.data.phone === ''||this.ad.data.phone.trim() === '';
            },
            missingHeadKz(){
                return !this.ad.data||!this.ad.data.head_kz||this.ad.data.head_kz === ''||this.ad.data.head_kz.trim() === '';
            },
            missingHeadRu(){
                return !this.ad.data||!this.ad.data.head_ru||this.ad.data.head_ru === ''||this.ad.data.head_ru.trim() === '';
            },
            missingCommentKz(){
                return !this.ad.data||!this.ad.data.text_kz||this.ad.data.text_kz === ''||this.ad.data.text_kz.trim() === '';
            },
            missingCommentRu(){
                return !this.ad.data||!this.ad.data.text_ru||this.ad.data.text_ru === ''||this.ad.data.text_ru.trim() === '';
            },
            missingPhoto(){
                return !this.ad.data.img_url&&!this.ad.data.tmp_img_url;
            },
            cancel(event){
                console.log("cancel save ad");
                this.ad.data = this.notSavedData;
                this.ad.editMode = false;
                event.preventDefault();
            },
            setEditMode(event){
                this.ad.editMode = true;
                event.preventDefault();
            }
        },
        beforeMount:function () {
            let d = new Date(this.ad.data.expire_date);
            this.ad.data.expire_date = d.getFullYear() + '-' + ('0' + (d.getMonth() + 1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2);
            this.notSavedData = JSON.parse(JSON.stringify(this.ad.data));
            this.serverError=false;
            this.inValid=false;
            this.ad.success=false;
            this.imageIsLoading=false;
            this.saveLoading=false;   
        },
        destroyed:function(){
         
        }
    }
</script>