<style>
    
</style>
<template>
    <div>
        <div v-if="hideTable">
            <button class="btn btn-primary btn-sm" v-if="hideTable" @click="hideForm"><span class="glyphicon glyphicon-arrow-left" style="margin-right:15px;"></span>{{words.back.value}}</button>
            <ad-form v-if="hideTable" @update="fetchData" :ad="currentAd"></ad-form>         
        </div>    
        <div v-if="!hideTable">
            <button class="btn btn-success" v-if="currentAd.editMode===false" @click="createNewAd()">
                <span class="glyphicon glyphicon-plus" style="margin-right:15px;"></span>{{words.add_new_ad.value}}
            </button>
            <ad-form v-if="currentAd.isNew==true&&currentAd.editMode==true" @update="fetchData" :ad="currentAd"></ad-form>         
            <br />
            <div class="panel panel-default">
                <div class="panel-body" style="overflow-y:auto;">
                    <div class="filter">
                        <div class="filter-input">
                            <input type="text" class="form-control" v-model="search_text" @keyup.enter="fetchData()" :placeholder="words.search.value">
                        </div>
                        <div class="filter-btn">
                            <button class="btn btn-primary btn-sm" @click="fetchData()">{{words.search.value}}</button>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{words.orderer.value}}</th>
                                <th>{{words.published.value}}</th>
                                <th>{{words.publish_date.value}}</th>
                                <th>{{words.expire_date.value}}</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(ad,ind) in model.data">
                                <th scope="row">{{ind+1}}</th>
                                <td>
                                    <p>{{ad.name}}</p>
                                    <p v-if="ad.url"><router-link target="_blank" :to="{name:'stores',params:{id:ad.url}}">{{words.store.value}}</router-link></p>
                                </td>
                                <td>
                                    <div class="checkbox disabled">
                                        <label>
                                            <input type="checkbox" v-model="ad.publish">
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </label>
                                    </div>
                                </td>
                                <td>{{ad.publish_date}}</td>
                                <td>{{ad.expire_date}}</td>
                                <td><button type="button" @click="view(ad)" class="btn btn-success" v-bind:class="{'disabled':currentAd.editMode==true}">{{words.view.value}}</button></td>
                                <td><button type="button" @click="edit(ad)" class="btn btn-primary" v-bind:class="{'disabled':currentAd.editMode==true}">{{words.edit.value}}</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer pagination-footer">
                    <div class="pagination-item">
                        <small>Showing {{model.from}} to {{model.to}} in {{model.total}}</small>
                    </div>
                    <div class="pagination-item">
                        <small>Current page:</small>
                        <!--input type="text" class="pagination-input" v-model="params.page" @keyup.enter="fetchData()"-->
                        <small>of {{model.last_page}}</small>
                    </div>
                    <div class="pagination-item">
                        <button @click="prev()" class="btn btn-default btn-sm">{{words.previous.value}}</button>
                        <button @click="next()" class="btn btn-default btn-sm">{{words.next.value}}</button>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</template>
<script>
    import auth from '../../auth.js';
    import translate from '../../translate.js';
    import Form from './Form.vue';
    export default{
        data(){
            return{
                model:{
                    data:[],
                    current_page:0,
                    last_page:0
                },
                rolesDict:[],
                currentAd:{
                    editMode:false
                },
                words:translate.commonWords,
                search_text:null,
                showModal:false,
                hideTable:false
            }
        },
        methods:{
            createNewAd(){
               this.currentAd = {
                   isNew:true,
                   editMode : true,
                   data:{
                      publish:false
                   }
               }
            },
            view(ad){
                this.currentAd.data = ad;
                this.currentAd.editMode = false;
                this.showModal = true;
                this.hideTable = true;
            },
            edit(ad){
                this.currentAd.data = ad;
                this.currentAd.editMode = true;
                this.showModal = true;
                this.hideTable = true;
            },
            hideForm(){
                this.hideTable = false;
                this.editMode = false;
                this.fetchData();
            },
            fetchData(){
                let url = 'api/admin/ads';
                if(this.search_text){
                    url = url+'/search/'+this.search_text;
                }
                let token = localStorage.getItem('id_token');
                Vue.http.get(url+'?'+token+'&page='+this.current_page).then(response => {
                        this.model = response.data.data;                        
                    }, response => {
                        console.log(response);
                        console.log("admin, ads list error");
                    })
            },
            next(){
                this.model.current_page++;
                this.fetchData();
            },
            prev(){
                this.model.current_page--;
                this.fetchData();
            }
        },
        beforeMount:function(){
            this.fetchData();
        },
        components:{
            'ad-form':Form
        }
    }
</script>