<style>
#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}
 
#myCarousel .list-group {
	position:absolute;
	top:0;
	right:0;
}
#myCarousel .list-group-item {
	border-radius:0px;
	cursor:pointer;
}
#myCarousel .list-group .active {
	background-color:#eee;	
}

.slide-item{
    max-height:400px;
    min-width:100%;
    padding:2px;
}

.slide-item-img{
    height:355px;
    width:675px;
}

</style>
<template>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div @click="goToStore(ad.url)" class="item" style="cursor:pointer;" v-bind:class="{active:ind==0}" v-for="(ad,ind) in ads">
                <img v-if="ad.img_url" class="slide-item-img" :src="'photos/ads/'+ad.img_url">
                <img v-if="ad.img_url==null" src="http://placehold.it/760x400/b2b2ff/b2b2ff" class="slide-item-img"/>
                <!--div class="carousel-caption">
                    <h4><a href="#" style="color:white;">{{ad.head.value}}</a></h4>
                    <p>{{ad.text.value}}</p>
                </div-->
            </div><!-- End Item -->
        </div><!-- End Carousel Inner -->
    
        <!-- Controls -->
        <div class="carousel-controls">
            <a class="left carousel-control" style="background-image: none;" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" style="background-image: none;" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        
    </div><!-- End Carousel -->        
</template>
<script>
    import translate from '../../translate.js';
    import router from '../../router.js';
    export default {
        created: function () {
            console.log("slider created");
        },
        data() {
            return {
                words:{
                    'greetingBarbazar':{value:'',kz:'Barbazar.kz, Интернет сауда алаңына қош келдіңіз!',ru:'Barbazar.kz Интернет торговая площадка, добро пожаловать!'},
                    'adsBarbazar':{value:'',kz:'Сіздің жарнамаңыздың орны',ru:'Место для вашей рекламы'},
                },
                ads:[
                ]
            }
        },
        methods: {
            goToStore(url){
                if(url){
                    router.push({
                        name:'stores',
                        params:{
                            id:url
                        }
                    });
                }
            }
        },
        mounted: function () {
        },
        beforeMount: function () {
            /*
            for (var key in this.words) {
                translate.setNewWord(this.words[key]);
                this.ads.push({
                    head:this.words[key],
                    text:{value:'',kz:'',ru:''},
                    img_url:null
                });
                break;
            }
            */
            
            Vue.http.get(
					'api/ads',
				).then(response => {
                    if(response.data.data){
                        for(let i=0;i<response.data.data.length;i++){
                            let new_add_header = {value:'',kz:response.data.data[i].head_kz,ru:response.data.data[i].head_ru};
                            translate.setNewWord(new_add_header);
                            let new_add_text = {value:'',kz:response.data.data[i].text_kz,ru:response.data.data[i].text_ru};
                            translate.setNewWord(new_add_text);
                            let newAdd = {
                                head:new_add_header,
                                text:new_add_text,
                                img_url:response.data.data[i].img_url,
                                url:response.data.data[i].url
                            };
                            this.ads.push(newAdd);
                        }

                    }
                },response=>{
                    //on error
                    console.log('ads slider load error');
                    console.log(response);

                });
        },
        components:{
            
        }
    }
    
</script>