<style>
    
</style>
<template>
    <transition name="modal">
            <div class="modal-mask2">
                <div class="modal-wrapper">
                    <div class="modal-dialog" style="overflow-y: initial !important">
                        <div class="modal-content" style="width: 100% !important; max-width: 900px !important;">
                            <div class="modal-header">
                                <button type="button" class="close" style="color:#000000 !important;top: 1.5% !important;right: 5%; !important;" @click="close()">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">{{words.agreement_with_user.value}}</h4>
                            </div>
                            <div class="modal-body" style="height: 400px;overflow-y: auto;">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#agrrementkz">Қазақша</a></li>
                                    <li><a data-toggle="tab" href="#agrrementru">По-русски</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="agrrementkz" class="tab-pane fade in active">
                                        <h4>Қолданушымен жасалған Лицензиялық келісім</h4>
                                        <span style="font-size:13px;">(Лицензиялық талаптармен «Келісемін» жазбасының тұсына белгі қою Сіздің осы Келісімдегі шарттармен келісетініңізді білдіреді. Осы қосымшаға (сайтқа) тіркелу Сіздің «Бар Базар» ЖШС-нің шарттарымен келісетініңізді білдіреді. «Бар Базар» ЖШС-нің шарттарымен келісу осы Қосымшаға (сайтқа) тіркелу арқылы жүзеге асады.; осы Қосымшаға (сайтқа) Қолданушының тіркелуі қосымшаның (сайттың) Әкімшілігінің қатысуынсыз жеке-дара жүзеге асырылады)</span>
                                        <p>1. Бұл Қосымшада (сайтта) Қазақстан Республикасы заңнамасында тыйым салынған тауарлар мен қызметтерді сатуға, жарнамалауға немесе олар туралы ақпаратты орналастыруға тыйым салынады;</p>
                                        <p>2. Бұл Қосымшада (сайтта) кез келген тірі заттардың бейнелерін орналастыруға (фотосурет, сурет, портрет, ескерткіш, сондай-ақ оларды фон ретінде пайдалануға) тыйым салынады;</p>
                                        <p>3. Тіркеуден өткеннен соң парақшада Қолданушының өзінде жоқ, немесе адам өмірі мен денсаулығына зиян келтіретін тауарларды немесе қызметтерді жарнамалауға, сатуға тыйым салынады;</p>
                                        <p>4. Қолданушы өзінің тұрақты жерін ауыстырған жағдайда (тіркеу мекен-жайы, жалдайтын жері, сататын орны, т. б. мәліметтерді) тез арада осы Қосымшаға (сайтқа) сәйкес өзгерістерді енгізуі тиіс. Осы тармаққа сәйкес талаптың орындалмауы салдарынан туындаған жағдайларға Қолданушының өзі жауапты болады;</p>
                                        <p>5. Қолданушы тарапынан шындыққа жанаспайтын немесе әдейі бұрмаланған ақпарат анықталған жағдайда, сондай-ақ сатып алушыны немесе осы қосымшаның (сайттың) Әкімшілігін алдаған жағдайда Әкімшілік тарапынан Қолданушыға ескерту жасалады. Мұндай жәйт екінші рет қайталанған жағдайда Әкімшілік Қолданушының барлық мәліметін ескертусіз, қалпына келмейтіндей етіп өшіріп тастауға құқылы;</p>
                                        <p>6. Осы Қосымшаның (сайттың) қызметін пайдалану ақысын төлемеу немесе уақытынан кешіктіру жағдайында Қосымшаның (сайттың) Әкімшілігі Қолданушының барлық ақпаратын бұғаттайды. Қызмет ақысын өтеу бойынша қарыз мерзімі бір жылдан асқан жағдайда Әкімшілік Қолданушының барлық мәліметін ескертусіз, қалпына келмейтіндей етіп Қосымшадан (сайттан) өшіріп тастауға құқылы;</p>
                                        <p>7. Қолданыстағы заңнамалардың, сондай-ақ осы Келісімнің талаптарын бұзған жағдайда жауапкершілік Қолданушыға жүктеледі.</p>
                                        <p>8. Келесідей мазмұнда «Bar Bazar ең арзан интернет-сауда алаңдардың бірі болғандықтан, және интернет-алаңды бағдарламалау және қолдау жұмыстары «Бар Базар» ЖШС-нің қызметкерлерінің шығармашылық еңбегінің нәтижесі болғандықтан, сәйкесінше, Bar Bazar-ға авторлық құқық «Бар Базар» ЖШС-не тиесілі. "Тапсырыс беруші" алаңды жарнама мақсатында қолдану кезінде «Бар Базар» ЖШС-нің жазбаша келісімінсіз әр түрлі мейрамдар немесе белгілі күндерге арналған жеңілдіктер мен науқандар жариялауға ақысы жоқ.</p>
                                    <br />
                                    <table v-if="view==false">
                                         <tr>
                                             <td><button type="button" @click="setAgreed()" class="btn btn-success"><span class="glyphicon" v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':sending,'glyphicon-ok':!sending}"></span></span> Келісемін</button></td>
                                             <td>  <button type="button" @click="close()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></span> Болдырмау</button></td>
                                         </tr>
                                    </table>
                                    
                                    
                                    </div>
                                    <div id="agrrementru" class="tab-pane fade">
                                        <h4>Лицензионное соглашение с Пользователем</h4>
                                        <span style="font-size:13px;">(установив галочку, Вы соглашаетесь с Условиями, указанными в настоящем Соглашении. Регистрация в настоящем приложении (сайте) означает, что Вы согласились с Условиями ТОО «Бар Базар». Выражение согласия с Условиями ТОО «Бар Базар» является Ваша регистрация в данном Приложении (сайте); регистрация в настоящем Приложении (сайте) производится пользователем на добровольной основе, персонально, без участия Администрации Приложения (сайта))</span>
                                        <p>1. В данном Приложении (сайте) запрещается продажа товаров и услуг, запрещенных действующим законодательством Республики Казахстан, а также реклама или размещение информации о них.</p>
                                        <p>2. В данном Приложении (сайте) запрещается размещение изображений любых живых существ (фотографии, рисунки, портреты, памятники, а также на фоне подобных изображений);</p>
                                        <p>3. После прохождения регистрации запрещается рекламирование и продажа товаров и услуг, отсутствующих у Пользователя, либо вредных для жизни и здоровья человека;</p>
                                        <p>4. В случае изменения местоположения (регистрации, аренды, места продажи и других данных), Пользователь должен незамедлительно внести соответствующие изменения в данном Приложении (сайте). Ответственность за последствия, которые наступили, или могли наступить, в связи с нарушением данного пункта лежит на Пользователе;</p>
                                        <p>5. В случае обнаружения сведений, не соответствующих действительности, либо заведомо искаженных сведений Пользователя, обнаружения обмана Покупателей и (или) Администрации данного Приложения (сайта) со стороны Пользователя, Администрация предупреждает Пользователя о данных нарушениях. В случае повторного нарушения в связи с данным пунктом Администрация оставляет за собой право безвозвратно удалить все данные Пользователя из данного Приложения (сайта).</p>
                                        <p>6. В случае неоплаты либо несвоевременной оплаты за пользование услугами данного Приложения (сайта), Администрация блокирует всю информацию продавца. В случае задолженности оплаты за пользование услугами настоящего Приложения (сайта) продолжающегося более одного года, Администрация безвозвратно удаляет всю информацию Пользователя из данного Приложения (сайта).</p>
                                        <p>7. За нарушение требований действующего законодательства, а также настоящего Соглашения на оказания услуг, ответственность возлагается на Пользователя.</p>
                                        <p>8. Следующего содержания «В связи с тем, что Bar Bazar является одной из самых дешевых интернет-торговых площадок, и в связи с тем, что разработка и поддержка интернет-площадки является результатом творчества сотрудников ТОО «Бар Базар», соответственно, авторское право на Bar Bazar принадлежит ТОО «Бар Базар», «Заказчик» при пользовании площадкой в рекламных целях, не должен указывать скидки, акции и тому подобное приуроченные к тем или иным праздникам, определенным датам и так далее, кроме как при письменном согласии ТОО «Бар Базар».</p>
                                    <br />
                                    <table v-if="view==false">
                                         <tr>
                                             <td><button type="button" @click="setAgreed()" class="btn btn-success"><span class="glyphicon" v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':sending,'glyphicon-ok':!sending}"></span></span> Согласен (на)</button></td>
                                             <td>  <button type="button" @click="close()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></span> Отмена</button></td>
                                         </tr>
                                    </table>
                                    
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
</template>
<script>
    import auth from '../../auth.js';
    import translate from '../../translate.js';
    import Vue from 'vue';
    export default {
        name:'signedUserAgreement',
        props:['view'],
        data() {
            return {
                success: false,
                error: false,
                errorText:null,
                auth:auth,
                sending:false,
                words:translate.commonWords
            }
        },
        computed: {
            
        },
        methods: {
            setAgreed:function(){
                this.sending = true;
                Vue.http.post(
                    'api/user/agreed',
                    {
                        agreed:true
                    }
                ).then(response => {
                    this.success = true;
                    this.error = false;
                    this.errorText= null;
                    auth.user.profile.agreed = true;
                    this.close();
                    this.sending = false;
                }, response => {
                    if(response.status==500){
                        //this.errorText= this.words.server_error;
                    }
                    this.error = true;
                    this.success = false;
                    this.sending = false;
                })
            },
            close(){
                this.refreshData();
                this.$parent.$data.showModal = false;
            },
            refreshData(){
                this.success = false;
                this.error = false;
                this.sending = false;
            }
        }
    }

</script>