<style>
    
</style>
<template>
    <transition name="modal">
            <div class="modal-mask2">
                <div class="modal-wrapper">
                    <div class="modal-dialog" style="width: 400px !important;overflow-y: initial !important">
                        <div class="modal-content" style="width: 100% !important; max-width: 900px !important;">
                            <div class="modal-header">
                                <button type="button" class="close" style="color:#000000 !important;" @click="close()">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">{{words.block.value}}</h4>
                            </div>
                            <div class="modal-body" style="height: 150px;overflow-y: auto;">
                                <div class="alert alert-danger" v-if="error">
                                    <p>{{words.server_error.value}}</p>
                                </div>
                                <div class="alert alert-success" v-if="success">
                                    <p>{{words.block_success_change.value}}</p>
                                </div>
                                <button class="btn btn-primary" @click="goBack()" v-if="serverResponsed==true">
                                     <span class="glyphicon glyphicon-arrow-left"></span>{{words.back.value}}
                                </button>
                                <div v-if="serverResponsed==false">
                                    <textarea v-model="text" style="width:100%;" placeholder="Причина блокировки"></textarea>
                                    <div>
                                       <button @click="block()" type="button" class="btn btn-success"><span class="glyphicon" v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':sending,'glyphicon-ok':!sending}"></span></span> {{words.save.value}}</button>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
</template>
<script>
    import translate from '../../translate.js';
    import Vue from 'vue';
    export default {
        name:'BlockStoreModal',
        props:['store_id'],
        data() {
            return {
                success: false,
                error: false,
                errorText:null,
                sending:false,
                words:translate.commonWords,
                text:null,
                serverResponsed:false,
                store:null
            }
        },
        computed: {
            
        },
        methods: {
            block:function(){
                this.sending = true;
                Vue.http.post(
                    'api/admin/users/blockstore',
                    {
                        store_id:this.store_id,
                        text:this.text
                    }
                ).then(response => {
                    this.success = true;
                    this.error = false;
                    this.errorText= null;
                    this.sending = false;
                    this.serverResponsed = true;
                    this.store = response.data.data;
                }, response => {
                    this.error = true;
                    this.success = false;
                    this.sending = false;
                    this.serverResponsed = true;
                })
            },
            close(){
                this.refreshData();
                this.$emit('close');
            },
            goBack(){
                this.refreshData();
                if(this.store!=null){
                    this.$emit('update',this.store);
                }else{
                    this.$emit('close');
                }
            },
            refreshData(){
                this.success = false;
                this.error = false;
                this.sending = false;
            }
        }
    }

</script>