<style>
 /*-----------*/   
 .wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
    background-color: #eee;
    padding: 0;
    float: left;
    min-height: 100%;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}

#menu>li.active,#menu>li.active>a:hover,#menu>li.active>a:focus{
    background-color: black;
}
#menu>li.active>a,#menu>li.active>a:hover,#menu>li.active>a:focus{
    color: white;
}

#main {
    padding: 15px;
    left: 0;
}
@media (min-width: 1200px){
  #dashboard-wrapper > div.active > #main {
      width: 95%;
  }
}

@media (min-width: 992px) {
  #dashboard-wrapper > div.active > #main {
      width: 95%;
  }
}

@media (min-width: 768px) {
  #dashboard-wrapper > div.active > #main {
      width: 95%;
  }
}


/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }
    
    #main {
        left: 0;
    }
    
    #sidebar .visible-xs {
       display:inline !important;
    }
    
    .row-offcanvas {
       position: relative;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }
    
    .row-offcanvas-left.active {
       left: 45%;
    }
    
    .row-offcanvas-left.active .sidebar-offcanvas {
       left: -45%;
       position: absolute;
       top: 0;
       width: 45%;
    }
} 
 
 
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width:42px;
  }
  
  #main {
    left: 0;
  }
}
.sidebar-active-button{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color:white;
}
</style>
<template>
<div class="container">
    <!--breadcrumb></breadcrumb-->  
    <div class="wrapper" style="height: 100%;width:100%" id="dashboard-wrapper">
        <div class="row row-offcanvas row-offcanvas-left" style="width: 100%;" v-bind:class="{'active':active}">
            <!-- sidebar -->
             
            <div class="column col-xs-1 col-sm-3 col-md-3 col-lg-3 col-xl-3 sidebar-offcanvas" id="sidebar">
                <div class="sidebar-active-button" @click="active=!active">
                    <i v-if="active" class="glyphicon glyphicon-arrow-right"></i>
                    <i v-if="active==false" class="glyphicon glyphicon-arrow-left"></i>
                </div>
                <ul class="nav" id="menu">
                    <li v-bind:class="{'active':type=='profile'}">
                        <router-link :to="{name:'dashboard',params:{type:'profile'}}">
                            <i class="fa fa-user"></i> 
                            <span class="collapse hidden-xs" v-bind:class="{'in':active==false}">{{words.profile.value}}</span>
                        </router-link>
                    </li>
                    <li v-if="auth.user.isStaff!=true&&auth.user.profile!=null&&auth.user.profile.agreed==true" v-bind:class="{'active':type=='mystore'}">
                        <router-link :to="{name:'dashboard',params:{type:'mystore'}}">
                            <i class="fa fa-shopping-bag"></i> 
                            <span class="collapse hidden-xs" v-bind:class="{'in':active==false}">{{words.my_store.value}}</span>
                        </router-link>
                    </li>
                    <li v-if="auth.user.isAdmin" v-bind:class="{'active':type=='users'}">
                        <router-link :to="{name:'dashboard',params:{type:'users'}}">
                            <i class="fa fa-list"></i>
                            <span class="collapse hidden-xs" v-bind:class="{'in':active==false}">{{words.stores.value}}</span>
                        </router-link>
                    </li>
                    <li v-if="auth.user.isAdsAdmin" v-bind:class="{'active':type=='ads'}">
                        <router-link :to="{name:'dashboard',params:{type:'ads'}}">
                            <i class="fa fa-list"></i>
                            <span class="collapse hidden-xs" v-bind:class="{'in':active==false}">{{words.ads_slider.value}}</span>
                        </router-link>
                    </li>
                </ul>
            </div>
            <!-- /sidebar -->

            <!-- main right col -->
            <div class="column col-xs-10 col-sm-9 col-md-9 col-lg-9 col-xl-9" id="main">
                <user-profile v-bind:class="{'hidden':type!='profile'}"></user-profile>
                <user-store v-if="auth.user.isStaff!=true&&auth.user.profile!=null&&auth.user.profile.agreed==true" v-bind:class="{'hidden':type!='mystore'}"></user-store>
                <user-list v-if="auth.user.isAdmin==true" v-bind:class="{'hidden':type!='users'}"></user-list>
                <ad-list v-if="auth.user.isAdsAdmin==true" v-bind:class="{'hidden':type!='ads'}"></ad-list>
            </div>
            <!-- /main -->
        </div>
    </div>
  </div>    
</template>
<script>
    import Breadcrumb from '../Breadcrumb.vue';
    import UserProfile from './UserProfile.vue';
    import UserStore from './UserStore.vue';
    import Userlist from './Userlist.vue';
    import Adlist from '../Ads/Index.vue';
    import translate from '../../translate.js';
    import auth from '../../auth.js';
    import router from '../../router.js';
    export default {
        name:'dashboard',
        data(){
          return{
            words:translate.commonWords,
            auth:auth,
            type:'profile',
            active:false
          }
        },
        components:{
            'breadcrumb':Breadcrumb,
            'user-profile':UserProfile,
            'user-store':UserStore,
            'user-list':Userlist,
            'ad-list':Adlist
        },beforeMount:function(){
            /*
            if(!auth.user.authenticated){
                router.push({
                  name: 'home'
              })
            }
            
            */
            
        },
        mounted: function () {
            this.type = this.$route.params.type;
            
            /*router.push({
              name:'dashboard',
              params:{
                type:this.type
              }
            });
            */
        },
        watch:{
          '$route' (to, from) {
                this.type = this.$route.params.type;
          },
          '$route.params' (to, from) {
                this.type = to.type;
          }
        }
    }
</script>