<style>
    
</style>
<template>
    <transition name="modal">
            <div class="modal-mask2">
                <div class="modal-wrapper">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background:#3fa1e6;">
                                <h4 class="modal-title">{{words.password_change.value}}</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{words.password_change_success.value}}</p>
                                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok" ></span></span> Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
</template>
<script>
    import auth from '../../auth.js';
    import translate from '../../translate.js';
    import Vue from 'vue';
    export default {
        props:['user_id','phone','password'],
        data() {
            return {
                success: false,
                error: false,
                errorText:null,
                code:null,
                auth:auth,
                sending:false,
                words:translate.commonWords
            }
        },
        computed: {
            
        },
        methods: {
            confirmRegister:function(event){
                event.preventDefault();
                if(this.missingCode()){
                    this.error = true;
                    this.errorText= this.words.fill_values;
                }
                this.sending = true;
                Vue.http.post(
                    'api/confirm_register',
                    {
                        code:this.code,
                        user_id:this.user_id
                    }
                ).then(response => {
                    this.success = true;
                    this.error = false;
                    this.errorText= null;
                    auth.user.firstAuth = true;
                    auth.signin(this,this.phone,this.password);
                    this.close();
                    this.sending = false;
                }, response => {
                    if(response.status==401){
                        this.errorText= this.words.not_numbers_error;
                    }else{
                        this.errorText= this.words.server_error;
                    }
                    this.error = true;
                    this.success = false;
                    this.sending = false;
                })
            },
            missingCode: function () {
                return this.code==null||this.code == ''||this.code.trim()=='';
            },
            close(event){
                //this.modalShown = false;
                if(event){
                    event.preventDefault();
                }
                this.refreshData();
                this.$parent.$data.showModal = false;
            },
            refreshData(){
                this.success = false;
                this.error = false;
                this.code = null;
                this.sending = false;
            }
        }
    }

</script>