<style>
  .tarif-name{
    color: #41728b;
    font-size: 18px;
    margin-bottom: 12px;
    font-family: "Open Sans",Tahoma,Verdana,Segoe,sans-serif;
    font-weight: 300;
    width:100%;
  }
  .tarif-cost{
    font-size: 24px;
    margin-bottom: 4px;
    font-weight: 700;      
    width:100%;
  }
  .tarif-cost-desc{
    font-size: 12px;
    font-weight: 400;      
    width:100%;
  }
  .tarif-saving{
      background: #67b539;
    color: #fffefe;
    border-radius: 2px;
    padding: 0 5px 1px;
    display: inline-block;
    margin: 5px 0 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .tarif-table tr th, .tarif-table tr td,.tarif-table tr th div, .tarif-table tr td div{
     text-align:center;
  }
</style>
<template>
    <div>
        <div class="panel" v-if="chosenType!=null">
            <div class="panel-heading">
                 <h3>{{words.choose_tarif_cost.value}}</h3>
                 <div class="alert alert-danger" v-if="error">
                    <p>{{errorText.value}}</p>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" v-bind:class="{'active':payCost==chosenPayCost}" v-for="(payCost,ind) in payCosts[chosenType]">
                        <input type="radio" :id="'rb'+ind" :value="payCost" v-model="chosenPayCost">
                        <label :for="'rb'+ind">{{payCost.cost + ' ₸ - ' +payCost.text.value}} </label>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div v-if="from_admin!=true">
                    <button  type="button" class="btn btn-primary" v-bind:class="{'disabled':chosenPayCost==null}" @click="payByCard()">
                        <span class="glyphicon " v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':paying,'glyphicon-ok':!paying}"></span> {{words.continue_online_banking.value}}
                    </button> 
                </div>
                <div v-if="from_admin==true">
                    <button  type="button" class="btn btn-primary" v-bind:class="{'disabled':chosenPayCost==null}" @click="payAdmin()">
                        <span class="glyphicon glyphicon-ok"></span> {{words.pay.value}}
                    </button> 
                </div>    
            </div>
        </div>
        <table v-if="chosenType==null" class="tarif-table table table-bordered">
            <colgroup>
                <col class="bg-deafult"></col>
                <col class="bg-info"></col>
                <col class="bg-deafult"></col>
            </colgroup>
            
            <thead>
                <tr>
                    <th>
                        <div class="tarif-name">Base</div>
                        <div class="tarif-cost">2 000 ₸</div>
                        <div class="tarif-cost-desc">{{words.cost_per_month.value}}</div>
                    </th>
                    <th>
                        <div class="tarif-name">Standart</div>
                        <div class="tarif-cost">2 500 ₸</div>
                        <div class="tarif-cost-desc">{{words.cost_per_month.value}}</div>
                    </th>
                    <th>
                        <div class="tarif-name">Premium</div>
                        <div class="tarif-cost">3 000 ₸</div>
                        <div class="tarif-cost-desc">{{words.cost_per_month.value}}</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>{{words.abilities.value}}: </div>
                        <br />
                        <div style="text-align: initial;">1) {{words.open_shop_in_market.value}}</div>
                        <!--br />
                        <div style="text-align: initial;">2) {{words.instagram_barbazar_aktobe.value}}</div-->                    
                    </td>
                    <td>
                        <div>{{words.abilities.value}}: </div>
                        <br />
                        <div style="text-align: initial;">1) {{words.open_shop_in_market.value}}</div>
                        <br />
                        <div style="text-align: initial;">2) {{words.first_page_product_ads.value}}</div>
                        <br />
                        <div style="text-align: initial;">3) {{words.instagram_barbazar_aktobe.value}}</div>                    
                    </td>
                    <td>
                        <div>{{words.abilities.value}}: </div>
                        <br />
                        <div style="text-align: initial;">1) {{words.open_shop_in_market.value}}</div>
                        <br />
                        <div style="text-align: initial;">2) {{words.paint_store_product_item.value}}</div>
                        <br />
                        <div style="text-align: initial;">3) {{words.first_page_product_ads.value}}</div>
                        <br />
                        <div style="text-align: initial;">4) {{words.publish_on_soc_media.value}}</div>
                    </td>    
                </tr>
                <tr v-if="view==false">
                    <td>
                        <button  type="button" class="btn btn-primary" @click="choose('base')">
                            <span class="glyphicon glyphicon-ok"></span> {{words.choose.value}}
                        </button> 
                    </td>
                    <td>
                        <button  type="button" class="btn btn-primary" @click="choose('standart')">
                            <span class="glyphicon glyphicon-ok"></span> {{words.choose.value}}
                        </button> 
                    </td>
                    <td>
                        <button  type="button" class="btn btn-primary" @click="choose('premium')">
                            <span class="glyphicon glyphicon-ok"></span> {{words.choose.value}}
                        </button> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tarif-cost">9 990 ₸</div>
                        <div>{{words.cost_per_6_month.value}}</div>
                        <div class="tarif-saving">{{words.economy.value}} 2 010 ₸</div>
                    </td>
                    <td>
                        <div class="tarif-cost">12 990 ₸</div>
                        <div>{{words.cost_per_6_month.value}}</div>
                        <div class="tarif-saving">{{words.economy.value}} 2 010 ₸</div>
                    </td>
                    <td>
                        <div class="tarif-cost">15 990 ₸</div>
                        <div>{{words.cost_per_6_month.value}}</div>
                        <div class="tarif-saving">{{words.economy.value}} 2010 ₸</div>
                    </td>    
                </tr>
                <tr>
                    <td>
                        <div class="tarif-cost">16 990 ₸</div>
                        <div>{{words.cost_per_year.value}}</div>
                        <div class="tarif-saving">{{words.economy.value}} 7 010 ₸</div>
                    </td>
                    <td>
                        <div class="tarif-cost">22 990 ₸</div>
                        <div>{{words.cost_per_year.value}}</div>
                        <div class="tarif-saving">{{words.economy.value}} 7 010 ₸</div>
                    </td>
                    <td>
                        <div class="tarif-cost">28 990 ₸</div>
                        <div>{{words.cost_per_year.value}}</div>
                        <div class="tarif-saving">{{words.economy.value}} 7 010 ₸</div>
                    </td>    
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    import translate from '../../translate.js';
    export default{
        props:['user_id','view','from_admin'],
        data(){
            return {
                words:translate.commonWords,
                chosenPayCost:null,
                chosenType:null,
                error:false,
                errorText:null,
                paying:false,
                payCosts:{
                   base:[
                       {time:'month',cost:2000,text:translate.commonWords.cost_per_month,days:30},
                       {time:'half_year',cost:9990,text:translate.commonWords.cost_per_6_month,days:180},
                       {time:'year',cost:16990,text:translate.commonWords.cost_per_year,days:365}
                   ],
                   standart:[
                       {time:'month',cost:2500,text:translate.commonWords.cost_per_month,days:30},
                       {time:'half_year',cost:12990,text:translate.commonWords.cost_per_6_month,days:180},
                       {time:'year',cost:22990,text:translate.commonWords.cost_per_year,days:365}
                   ],
                   premium:[
                       {time:'month',cost:3000,text:translate.commonWords.cost_per_month,days:30},
                       {time:'half_year',cost:15990,text:translate.commonWords.cost_per_6_month,days:180},
                       {time:'year',cost:28990,text:translate.commonWords.cost_per_year,days:365}
                   ]
                }
            }
        },
        methods:{
            setPayCost(payCost){
                this.chosenPayCost = payCost;
            },
            choose(type){
                this.chosenType = type;
            },
            payByCard(){
                this.paying = true;
                let that = this;
                if(!cp){
                    this.error = true;
                    this.errorText = this.words.internet_exception;
                    this.paying = false;
                }
                var widget = new cp.CloudPayments();
                widget.charge({ // options
                        publicId: 'pk_756f9b32629839d2c4446f6903822',
                        description: 'Оплата в barbazar.kz',
                        amount: this.chosenPayCost.cost, //сумма
                        currency: 'KZT',
                        invoiceId: this.user_id+'_12345678', //номер заказа
                        accountId: 'user@example.com', //плательщик
                    },
                    function (options) { // success
                        console.log(options);
                        let token = localStorage.getItem('id_token');
                        Vue.http.post('api/user/payed?token='+token,{
                            cost:that.chosenPayCost.cost,
                            days:that.chosenPayCost.days
                        }).then(
                        response => {
                            that.paying = false;
                            console.log('user set payed');
                            that.$emit('update', true);
                        }, 
                        response => {
                            that.paying = false;
                            that.$emit('update', false);
                            console.log('user set payed fail');
                        })
                    },
                    function (reason, options) { // fail
                        //действие при неуспешном платеже
                        console.log('user set payed fail');
                    });                
            },
            payAdmin(){
                this.$emit('setpayed',this.chosenPayCost);
            }
        }
    }
</script>