<style>
    
</style>
<template>
    <transition name="modal">
            <div class="modal-mask2">
                <div class="modal-wrapper">
                    <div class="modal-dialog" style="overflow-y: initial !important">
                        <div class="modal-content" style="width: 100% !important; max-width: 900px !important;">
                            <div class="modal-header">
                                <button type="button" class="close" style="color:#000000 !important;top: 1.5% !important;right: 5%; !important;" @click="close()">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">{{words.pay.value}}</h4>
                            </div>
                            <div class="modal-body" style="height: 400px;overflow-y: auto;">
                                <div class="alert alert-danger" v-if="error">
                                    <p>{{words.payed_error.value}}</p>
                                </div>
                                <div class="alert alert-success" v-if="success">
                                    <p>{{words.payed_success.value}}</p>
                                </div>
                                <button class="btn btn-primary" @click="goBack()" v-if="costChosed==true">
                                     <span class="glyphicon" v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':sending,'glyphicon-arrow-left':sending==false}"></span>{{words.back.value}}
                                </button>
                                  
                                <payment v-if="costChosed==false" @setpayed="setPayed" :view="false" :from_admin="true"></payment>                   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
</template>
<script>
    import auth from '../../auth.js';
    import translate from '../../translate.js';
    import Payment from './Payment.vue'
    import Vue from 'vue';
    export default {
        name:'payByAdminAgreement',
        props:['user_id'],
        data() {
            return {
                success: false,
                error: false,
                errorText:null,
                sending:false,
                words:translate.commonWords,
                costChosed:false,
                chosenPayCost:null,
                userData:null
            }
        },
        computed: {
            
        },
        methods: {
            setPayed:function(chosenPayCost){
                this.chosenPayCost = chosenPayCost;
                
                this.sending = true;
                Vue.http.post(
                    'api/admin/users/setuserpayed',
                    {
                        user_id:this.user_id,
                        cost:chosenPayCost.cost,
                        days:chosenPayCost.days
                    }
                ).then(response => {
                    this.userData = response.data.data;
                    this.success = true;
                    this.error = false;
                    this.errorText= null;
                    this.sending = false;
                    this.costChosed = true;
                }, response => {
                    this.error = true;
                    this.success = false;
                    this.sending = false;
                })
            },
            close(){
                this.refreshData();
                this.$emit('close');
            },
            goBack(){
                this.refreshData();
                this.$emit('update',this.userData);
            },
            refreshData(){
                this.success = false;
                this.error = false;
                this.sending = false;
            }
        },
        components:{
            'payment':Payment
        }
    }

</script>