<style>
    
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
</style>
<template>
    <div class="col-xs-12" style="overflow-y:auto;">
        <div class="alert alert-success" v-if="auth.user.firstAuth">
            <p>{{words.first_auth_congrats.value}}</p>
        </div>
        <div class="alert alert-success" v-if="password_change_success">
            <p>{{words.password_change_success.value}}</p>
        </div>
        <div class="alert alert-success" v-if="payed_success">
            <p>{{words.payed_success.value}}</p>
        </div>
        <div class="alert alert-danger" v-if="payed_success==false">
            <p>{{words.payed_error.value}}</p>
        </div>
        <table class="table table-user-information" v-if="auth.user.profile!=null">
            <tbody>
            <tr>
                <td>{{words.username.value}}:</td>
                <td><input type="text" class="form-control" :disabled="!nameEditMode" v-model="auth.user.profile.name"/></td>
                <td>
                    <button  type="button" class="btn btn-primary" @click="nameEditMode=true" v-if="!nameEditMode">
                        <span class="glyphicon glyphicon-pencil"></span> {{words.edit.value}}
                    </button> 
                    <button  type="button" class="btn btn-success" @click="saveName()" v-if="nameEditMode">
                        <span class="glyphicon " v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':nameEditSaving,'glyphicon-ok':!nameEditSaving}"></span> {{words.save.value}}
                    </button> 
                </td>
            </tr>
            <tr>
                <td>{{words.phone_number.value}}:</td>
                <td>+ {{auth.user.profile.phone}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{words.password.value}}:</td>
                <td>
                    <input v-if="passwordEditMode" type="text" class="form-control" :disabled="!passwordEditMode" v-model="newPassword"/>
                    <input v-if="!passwordEditMode" type="password" class="form-control" :disabled="!passwordEditMode" v-model="newPassword"/>
                </td>
                <td>
                    <button  type="button" class="btn btn-primary" @click="setPassEditMode()" v-if="!passwordEditMode">
                        <span class="glyphicon glyphicon-pencil"></span> {{words.edit.value}}
                    </button> 
                    <button  type="button" class="btn btn-success" @click="changePassword()" v-if="passwordEditMode">
                        <span class="glyphicon " v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':passwordEditSaving,'glyphicon-ok':!passwordEditSaving}"></span> {{words.save.value}}
                    </button> 
                </td>
            </tr>
            <tr>
                <td>{{words.registration_date.value}}:</td>
                <td>{{auth.user.profile.created_at}}</td>
                <td></td>
            </tr>                     
            </tbody>
        </table>
        <div v-if="!auth.user.isStaff&&auth.user.profile.has_store==true">
            <div class="alert alert-warning" v-if="auth.user.profile.days_left>0&&auth.user.profile.days_left<=3">
                <p>{{words.days_left.value+' :'+auth.user.profile.days_left}}</p>
                <p>{{words.store_is_being_closed.value}}</p>
            </div>
            <div class="alert alert-danger" v-if="auth.user.profile.days_left<1">
                <p>{{words.store_closed.value}}</p>
            </div>
            <div class="alert alert-success" v-if="auth.user.profile.days_left>3">
                <p>{{words.days_left.value+' :'+auth.user.profile.days_left}}</p>
            </div>
            <button type="button" class="btn btn-info" v-if="pay!=true" @click="pay=true">{{words.pay.value}}</button>            
            <payment v-if="pay==true" :user_id="auth.user.profile.id" @update="payUpdate" :view="false"></payment>
            <br />
            <button type="button" class="btn btn-danger" v-if="pay==true&&auth.user.profile.days_left<=3"  @click="pay=false">{{words.set_aside.value}}</button>
        </div> 
        <div v-if="!auth.user.isStaff&&auth.user.profile.has_store!=true&&auth.user.profile.agreed!=true">
            <button class="btn" @click="showModal=true"  style="width: 60%; background-color: rgb(255, 153, 0); color: white;">
                 <span class="glyphicon glyphicon-plus"></span> {{words.open_shop.value}}</button>
            <agreement-modal :view="false" v-if="showModal"></agreement-modal>        
        </div>
    </div>
</template>
<script>
    import translate from '../../translate.js';
    import auth from '../../auth.js';
    import AgreementModal from './AgreementModal.vue';
    import Payment from './Payment.vue';
    //import PasswordChangeConfirmModal from 'PasswordChangeConfirmModal.vue'
    export default{
        data(){
            return {
               auth:auth,
               words:translate.commonWords,
               nameEditSaving:false,
               nameEditMode:false,
               showModal:false,
               newPassword:'123456789',
               passwordEditSaving:false,
               passwordEditMode:false,
               refreshPassword:false,
               password_change_success:false,
               pay:false,
               payed_success:null
            }
        },
        beforeMount(){
            auth.check();            
        },
        methods:{
            saveName(){
                this.nameEditSaving = true;
                Vue.http.post(
                    'api/user/name',
                    {
                        name: this.auth.user.profile.name
                    }
                ).then(response => {
                    this.nameEditSaving = false;
                    this.nameEditMode = false;
                }, response => {
                    this.nameEditSaving = false;
                    this.nameEditMode = false;
                })
            },
            payUpdate(success){
                if(success==true){
                    this.payed_success = true;                   
                    this.pay=false;
                    auth.check();
                }else{
                    this.payed_success = false;
                    this.pay=false;
                }
            },
            changePassword(){
                this.passwordEditSaving = true;
                Vue.http.post(
                    'api/user/changepassword',
                    {
                        new_password: this.newPassword
                    }
                ).then(response => {
                    this.passwordEditSaving = false;
                    this.passwordEditMode = false;
                    this.password_change_success = true;
                    this.newPassword = '1234556';
                }, response => {
                    this.passwordEditSaving = false;
                    this.passwordEditMode = false;
                    this.newPassword = '1234556';
                    this.password_change_success = false;
                })
            },setPassEditMode(){
                this.passwordEditMode=true;
                this.newPassword = null;
            }
                
        },
        components:{
            'agreement-modal':AgreementModal,
            'payment':Payment
            //'passwordchange-confirmmodal':PasswordChangeConfirmModal
        }

    }
</script>