<style>
    
</style>
<template>
    <div class="panel panel-default">
        <div class ="panel-heading">
        </div>
        <div class="panel-body" style="overflow-y:auto;">
            <div class="filter">
                <div class="filter-input">
                    <input type="text" class="form-control" v-model="search_text" @keyup.enter="fetchData()" :placeholder="words.search.value">
                </div>
                <div class="filter-btn">
                    <button class="btn btn-primary btn-sm btn-block" @click="fetchData()">{{words.search.value}}</button>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{words.username.value}}</th>
                        <th>{{words.phone_number.value}}</th>
                        <th>{{words.store_name.value}}</th>
                        <th>{{words.has_store.value}}</th>
                        <th>{{words.payed_date.value}}</th>
                        <th>{{words.expire_date.value}}</th>
                        <th>{{words.days_left.value}}</th>
                        <th>{{words.block.value}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(user,ind) in model.data">
                        <th scope="row">{{ind}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.phone}}</td>
                        <td>
                            <div v-if="user.has_store==true&&user.store!=null">
                                <router-link class="btn btn-primary btn-sm" target="_blank" :to="{name:'stores',params:{id:user.store.id}}">{{words.store.value}}</router-link>
                            </div>
                        </td>
                        <td><input v-model="user.has_store" type="checkbox" disabled></td>
                        <td>{{user.payed_date}}</td>
                        <td>{{user.expire_date}}</td>
                        <td>{{user.days_left}}</td>
                        <td>
                            <div v-if="user.has_store==true&&user.store!=null&&user.store.blocked==true">
                                <button type="button" @click="setUnBlocked(user)" :title="user.store.block_text" class="btn btn-danger btn-sm">{{words.unblock.value}}</button>
                            </div>
                            <div v-if="user.has_store==true&&user.store!=null&&user.store.blocked==false">
                                <button type="button" @click="setBlocked(user)" class="btn btn-primary btn-sm">{{words.toblock.value}}</button>
                            </div>
                        </td>
                        <td>
                            <div v-if="user.has_store==true&&user.store!=null">
                                <button type="button" @click="setPayed(user)" class="btn btn-primary btn-sm">{{words.pay.value}}</button>
                            </div>
                        </td>
                        <td><button type="button" @click="setChangePassword(user)" class="btn btn-primary btn-sm">{{words.password_change.value}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <payment-modal v-if="showPaymentModal==true" @close="closePaymentModal()" @update="updateUserPayment" :user_id="currentUser.id"></payment-modal> 
        <changepassword-modal v-if="showChangePasswordModal==true" @close="closeChangePasswordModal()" :user_id="currentUser.id"></changepassword-modal> 
        <blockstore-modal v-if="showBlockStoreModal==true" @close="closeBlockStoreModal()" @update="updateUserStoreBlock" :store_id="currentUser.store.id"></blockstore-modal>
        <div class="panel-footer pagination-footer">
            <div class="pagination-item">
                <small>Showing {{model.from}} to {{model.to}} in {{model.total}}</small>
            </div>
            <div class="pagination-item">
                <small>Current page:</small>
                   <input type="text" class="pagination-input" v-model="model.current_page" @keyup.enter="fetchData()">
                <small>of {{model.last_page}}</small>
            </div>
            <div class="pagination-item">
                <button @click="prev()" class="btn btn-default btn-sm">{{words.previous.value}}</button>
                <button @click="next()" class="btn btn-default btn-sm">{{words.next.value}}</button>
            </div>
        </div>
    </div>
</template>
<script>
    import auth from '../../auth.js';
    import PaymentModal from './PaymentModal.vue';
    import ChangePasswordModal from './ChangePasswordModal';
    import BlockStoreModal from './BlockStoreModal.vue';
    import translate from '../../translate.js';
    export default{
        data(){
            return{
                showPaymentModal:false,
                showChangePasswordModal:false,
                showBlockStoreModal:false,
                model:{
                    data:[],
                    current_page:0,
                    last_page:0
                },
                rolesDict:[],
                currentUser:null,
                words:translate.commonWords,
                search_text:null
            }
        },
        methods:{
            setPayed(user){
                this.currentUser = user;
                this.showPaymentModal = true;
            },
            closePaymentModal(){
                this.showPaymentModal = false;
            },
            updateUserPayment(userData){
                this.showPaymentModal = false;
                userData.store = this.currentUser.store;
                this.currentUser = userData;
            },
            setChangePassword(user){
                this.currentUser = user;
                this.showChangePasswordModal = true;
            },
            closeChangePasswordModal(){
                this.showChangePasswordModal = false;
            },
            setBlocked(user){
                this.currentUser = user;
                this.showBlockStoreModal = true;
            },
            closeBlockStoreModal(){
                this.showBlockStoreModal = false;
            },
            setUnBlocked(user){
                this.currentUser = user;
                Vue.http.post(
                    'api/admin/users/unblockstore',
                    {
                        store_id:this.currentUser.store.id
                    }
                ).then(response => {
                    this.currentUser.store = response.data.data;
                }, response => {
                })
            },
            updateUserStoreBlock(store){
                this.currentUser.store = store;
                this.showBlockStoreModal = false;
            },
            fetchData(){
                let url = 'api/admin/users';
                if(this.search_text){
                    url = url+'/search/'+this.search_text;
                }
                let token = localStorage.getItem('id_token');
                Vue.http.get(url+'?'+token+'&page='+this.model.current_page).then(response => {
                        this.model = response.data.data;                        
                    }, response => {
                        console.log(response);
                        console.log("admin, user list error");
                    })
            },
            next(){
                this.model.current_page++;
                if(this.model.current_page==this.model.last_page+1){
                    this.model.current_page = 1;
                }
                this.fetchData();
            },
            prev(){
                this.model.current_page--;
                if(this.model.current_page==0){
                    this.model.current_page = this.model.last_page;
                }
                this.fetchData();
            }
        },
        beforeMount:function(){
            this.fetchData();
        },
        components:{
            'payment-modal':PaymentModal,
            'changepassword-modal':ChangePasswordModal,
            'blockstore-modal':BlockStoreModal
        }
    }
</script>