<style>
a{
    color: #03a1d1;
    text-decoration: none!important;
}

/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}




/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}


small {
display: block;
line-height: 1.428571429;
color: #999;
}
.custom-glyph-margin-right{
    margin-right: 10px;
}

</style>
<template>
 <div style="width:100%;">
    <div class="row">
        <div class="col-xs-12">
            <div v-if="store.id==0">
                <div class="alert alert-danger">
                    {{words.shop_still_not_opened.value}}
                </div>
                
            </div>
            <div v-if="store.blocked==true" class="alert alert-danger">
                {{store.block_text}}
            </div>
            <store-form :store="store" @cancel="cancelEditStore" @update="fetchData" :parentEditMode="false"></store-form>
        </div>
    </div>
    <hr />
    <div v-if="store.id>0">
        <router-link :to="{name:'productForm',params:{id:0}}" style="margin-right:15px;" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span>{{words.add_new_product.value}}</router-link> 
    </div>
    <div v-if="store&&store.products&&store.products.length>0" class="row">
        <div class="col-xs-12"> 
            <h2>{{words.products.value+', '+words.total_count.value.toLowerCase()+' '+store.products.length}}</h2>
            <div v-for="(product,ind) in store.products">
                <product-view :product="product" @update="fetchData"></product-view>
                <hr />   
            </div>    
        </div>
    </div>

</div>
 
</template>
<script>
    import Vue from 'vue';
    import translate from '../../translate.js';
    import ProductView from '../Product/View.vue';
    import StoreForm from '../Store/Form.vue';

    export default {
        name:'userStore',
        data() {
                return {
                    store:{
                        id:0
                    },
                    store_file:null,
                    store_photo_path:null,
                    words:translate.commonWords,
                    notSavedData:null
                }
            },
            methods: {
                    cancelEditStore(){
                        this.store = JSON.parse(this.notSavedData);
                    },
                    fetchData(){
                        let token = localStorage.getItem('id_token');
                        if (token !== null) {
                            Vue.http.get(
                                'api/userstore?token=' + token,
                            ).then(response => {
                                if(response.data.data){
                                    this.store = response.data.data;
                                    this.notSavedData = JSON.stringify(this.store);
                                    let products = this.store.products;
                                }
                            },response => {
                                console.log("error store fetchData");
                            })
                        }
                    }
                                      
            },
            mounted: function () {
                
            },
            beforeMount: function () {
                this.fetchData();
            },
            components:{
                'store-form':StoreForm,
                'product-view':ProductView
            }
    }
</script>