// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "../css/market_css_modules/animate.min.css";
@import "../css/market_css_modules/menu.css";
@import "../css/market_css_modules/ken-burns.css";
@import "../css/market_css_modules/owl.carousel.css";
@import 'node_modules/font-awesome/scss/font-awesome';
@import "../css/market_css_modules/style.css";
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Lovers+Quarrel");
@import url("https://fonts.googleapis.com/css?family=Offside");