<template>
    <div class="form-search dropdown" v-bind:class="{'open':categoryNodes.length>0}">
        <div class="input-group">
            <input type="text" class="form-control" list="suggestions" @keyup="searchInput" v-model="searchText" :placeholder="words.search.value">
            <!--datalist id="suggestions">
                <option v-if="ind<10" v-for="(cat,ind) in categoryNodes" @click="selectSearchResult(cat)" :value="cat.name_kz_desc"></option>
            </datalist-->
            <span class="input-group-btn">
                <button type="button" @click="search()" class="btn btn-primary">{{words.search.value}}</button>
            </span>
        </div>
    </div>
    
    
</template>
<script>
    import categoryManager from '../Category/manager.js'
    import translate from '../../translate.js'
    import router from '../../router.js'
    export default{
        data(){
            return {
               searchText:null,
               categoryNodes:[],
               words:translate.commonWords,
               selectedNode:null,
            }
        },methods:{
            searchInput($e){               
               //this.categoryNodes = categoryManager.searchTreeByName(this.searchText);
               //if($e.key=='ArrowDown'){
               //    this.$refs.tips.focus();
               //}else 
               if($e.key=='Enter'){
                    $e.preventDefault();  
                    this.search();
               }
               
            },
            search(){               
                if(this.searchText!=null&&this.searchText.trim().length>0){
                    router.push({
                        name:"search",
                        params:{
                            query_text:this.searchText
                        }
                    });
                }
            },
            selectSearchResult(selectedNode){
                this.selectedNode = selectedNode;
                this.categoryNodes = [];
                this.searchText = selectedNode.current=='kz'?selectedNode.name_kz:selectedNode.name_ru;
                router.push({
                    name: 'search',
                    params:{
                        query_text:this.searchText
                    }
                })
            },
            detectDownSelect(e){

            }   
        }
    }
</script>