<style>
</style>
<template>
    <div class="container">
        <div align="center" v-if="loading==true">
           <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="font-size: 100px;"></span>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#productResult">{{words.products.value}} ({{products.length}})</a></li>
            <li><a data-toggle="tab" href="#storeResult">{{words.stores.value}} ({{storeItems.length}})</a></li>
        </ul> 
        <div class="tab-content">
            <div id="productResult" class="tab-pane fade in active">
                <p v-if="products.length==0">{{words.not_found.value}}</p> 
                <ul class="hide-bullets">
                    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3" v-for="(product,index) in products">
                        <product-item :product="product" :modalInSide="true" :withFavouriteButton="true" :inFavouritesPage="false"></product-item>
                    </li>
                </ul>
            </div>
            <div id="storeResult" class="tab-pane fade in">
                <p v-if="storeItems.length==0">{{words.not_found.value}}</p> 
                <ul class="hide-bullets">
                    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3" v-for="(store,index) in storeItems">
                        <store-item :store="store" :withFavouriteButton="true" :inFavouritesPage="false"></store-item>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</template>
<script>
    import StoreItem from '../Store/Item.vue';
    import ProductItem from '../Product/Item.vue';
    import translate from '../../translate.js';
    export default{
        data(){
            return{
                storeItems:[],
                products:[],
                next_page_url:null,
                current_page:0,
                words:translate.commonWords,
                loading:false
            }
        },
        methods:{
            getStores(){
                
            },
            fetchResult(){
                this.loading = true;
                Vue.http.get('api/search/query_text/'+this.$route.params.query_text).then(response => {
                    console.log(response.data.data);
                    this.next_page_url = response.data.data.next_page_url;
                    this.current_page = response.data.data.current_page;
                    for(let i=0;i<response.data.data.stores.data.length;i++){
                         this.storeItems.push(response.data.data.stores.data[i]);
                    }
                    for(let i=0;i<response.data.data.products.data.length;i++){
                            this.products.push(response.data.data.products.data[i]);
                    }
                    this.loading = false;
                },response => {
                    console.log("Search result group");
                    this.loading = false;
                });      
            } 
        },
        beforeMount(){
            this.stores = [];
            this.products = [];
            this.fetchResult();
        },
        watch:{
			'$route.params' (to, from) {
                this.storeItems = [];
                this.products = [];
                this.fetchResult();
			}
		},
        components:{
            'store-item':StoreItem,
            'product-item':ProductItem
        }
    }
</script>