<style>
</style>
<template>
    <ul class="list-unstyled categories-tree">
        <category-menutreenode
            :model="nodeData" v-for="(nodeData,ind) in data">
        </category-menutreenode>                                
    </ul>    
</template>
<script>
    import manager from './manager.js';
    import translate from '../../translate.js';
    export default{
        name:'catmenutreeview',
        data(){
            return {
                words:translate.commonWords,
                data:manager.categories
            }
        },
        components:{
        },
        beforeMount:function(){
            
        },
        methods:{
            refreshData(){
            }
        }
        
    }
</script>