<style>
</style>
<template>
   <li>
        <router-link v-if="isFolder!=true" :to="{name:'stores_by_cat',params:{id:model.id}}">{{model.word.value}}</router-link>
        <a v-if="isFolder==true" :href="'#'+guid" data-toggle="collapse" aria-expanded="false">{{model.word.value}}</a>
        <ul v-if="isFolder==true" class="collapse list-unstyled" :id="guid">
             <category-menutreenode v-for="model in model.children" :model="model">
            </category-menutreenode>
            <li>
                <router-link :to="{name:'stores_by_cat',params:{id:model.id}}">
                    {{words.show_all.value+' ('+model.word.value+')'}}
                </router-link>
            </li>   
        </ul>
    </li>

</template>
<script>
    import router from '../../router.js'
    import translate from '../../translate.js'
    export default{
        name:'menu-tree-node',
        props: ['model'],
        data: function () {
            return {
                words:translate.commonWords,
                guid:null,
                isFolder:false
            }
        },
        components:{
            
        },
        computed: {
            
        },
        methods: {
            generateQuickGuid:function() {
                return Math.random().toString(36).substring(2, 15) +
                    Math.random().toString(36).substring(2, 15);
            },
        },beforeMount(){
            this.guid = this.generateQuickGuid();
            this.isFolder = this.model.children && this.model.children.length>0;
        }
    }
</script>