<template>
    <li v-bind:class="{'dropdown-submenu dropdown-menu-right':isFolder>0,'first-li':firstChild,'second-li':!firstChild}">
        <router-link  :to="{name:'stores_by_cat',params:{id:model.id}}" class="menu-a-first-child" v-bind:class="{'dropdown-a':!firstChild}">
            {{model.word.value}}
        </router-link>
        <ul class="dropdown-menu category-ul" v-if="isFolder">
            <category-menunode v-bind:class="{'li-dropdown':isDropdown}" v-for="model in model.children" :model="model" :firstChild="false"></category-menunode>
        </ul>
    </li>    
</template>
<script>
    export default{
        name:'menu-node',
        props: ['model','firstChild','isDropdown'],
        data: function () {
            return {
                open: false
            }
        },
        computed: {
            isFolder: function () {
            return this.model.children &&
                this.model.children.length
            }
        }
    }
</script>