<style>
	.category-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    float: left;
    display: block; /* This is required */
	margin-right:10px;
	background-size: cover;
}

.category-icon.normal {
    width: 18px;
    height: 18px;
}

.category-icon.small {
    width: 16px;
    height: 16px;
}

.category-icon.medium {
    width: 64px;
    height: 64px;
}

.category-icon.large {
    width: 128px;
    height: 128px;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-3px;margin-right:-1px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0px 5px 5px;border-left-color:#999;margin-top:5px;margin-right:10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;}
.dropdown-menu-right {margin-right:0;}
.category-ul{
   padding: 0px !important; 
}
.category-ul .first-li{
    padding: 0.6em 0.8em 0.6em .8em;
    font-size: 1.4285rem;
    cursor: pointer;
    border-bottom: 1px solid #e2e2e2;
    line-height: normal;
}

.li-dropdown{
    padding:0.2em 0.4em 0.2em .2em !important;
}

.li-dropdown > a{
    padding: 3px 45px 3px 5px !important;
}
.li-dropdown > a:after{
    margin-right: -35px !important;
}

.category-ul .second-li{
    padding: 0.5em 0.8em 0.3em .0em;
    font-size: 1.4285rem;
    cursor: pointer;
    border-bottom: 1px solid #e2e2e2;
    line-height: normal;
}
.dropdown-a{
    padding:1px 20px !important;
}

.menu-a-first-child:after,{
    margin-right: -5px;
}

.hide-bullets li a{
    color:#000;
}
</style>
<template>
    <ul class="hide-bullets category-ul" v-bind:class="{'dropdown-menu pull-right dropdown-cart':isDropdown===true}">
        <category-menunode :isDropdown="isDropdown" v-bind:class="{'li-dropdown':isDropdown===true}" v-for="category in categoryManager.categories" :model="category" :firstChild="true"></category-menunode>
    </ul>
</template>
<script>
    import categoryManager  from './manager.js'
    export default {
        props:['isDropdown'],
        data() {
                return {
					categoryManager:categoryManager,
					isHomePage:false
                }
            },
		methods: {
		},
		mounted: function () {
              
		},
		beforeMount(){
			
        },
		watch:{
			'$route' (to, from) {
				this.isHomePage = to.name==="home";
			}
		}
    }
</script>