<style>
</style>
<template>
    <div>
        <button class="btn btn-primary col-xs-12" @click="openSidebar()"><span class="glyphicon glyphicon-list"></span> {{words.category.value}}</button>
        <div class="custom-sidebar" v-bind:class="{'active':active}">
            <div id="dismiss" @click="closeSidebar()">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </div>
            <ul class="list-unstyled components">
                <category-menutreenode
                    :model="nodeData" v-for="(nodeData,ind) in data">
                </category-menutreenode>                                
            </ul>
        </div>
    </div>    
</template>
<script>
    import manager from './manager.js';
    import translate from '../../translate.js';
    export default{
        name:'catmenusidebar',
        data(){
            return {
                words:translate.commonWords,
                data:manager.categories,
                active:false
            }
        },
        components:{
        },
        beforeMount:function(){
            
        },
        methods:{
            openSidebar() {
                this.active = true;
            },
            closeSidebar() {
                this.active = false;
            }
        },
        destroyed:function(){
            this.active = false;
        },
        watch:{
			'$route' (to, from) {
			   this.active = false;
			}
		}
        
    }
</script>