<style>
    
</style>
<template>
    <li>
        <div :class="{'bold': isFolder,'custom-active':model.id==selected_node.id}">
            <span style="margin-right: 10px;" v-if="isFolder">
                <span class="btn btn-xs btn-default" @click="toggle">
                    <span class="glyphicon" v-bind:class="{'glyphicon-plus':open==false,'glyphicon-minus':open}"></span>
                </span>
            </span>
            <span @click="select(model)">{{model.word.value}}</span>
        </div>
        <ul v-show="open" style="margin-left: 10px; list-style: none;pointer:cursor;" v-if="isFolder">
            <category-treenode
                v-for="model in model.children"
                :model="model"
                :selected_node="selected_node"
                @update="update"
                >
            </category-treenode>
            <!--li class="add" @click="addChild">+</li-->
        </ul>
  </li>
</template>
<script>
    //import TreeNode from './TreeNode.vue'
    export default{
        name:'tree-node',
        props: ['model','selected_node'],
        data: function () {
            return {
                open: false
            }
        },
        components:{
            //'tree-node':TreeNode
        },
        computed: {
            isFolder: function () {
            return this.model.children &&
                this.model.children.length
            }
        },
        methods: {
            toggle: function () {
                if (this.isFolder) {
                    this.open = !this.open
                }
            },
            changeType: function () {
                if (!this.isFolder) {
                    Vue.set(this.model, 'children', [])
                    this.addChild()
                    this.open = true
                }
            },
            addChild: function () {
                this.model.children.push({
                    name: 'new stuff'
                })
            },
            select:function(model){
                this.$emit('update', model);
            },
            update(selected_node){
                this.$emit('update', selected_node);
            }
        }
    }
</script>