<style>
    .bold {
        font-weight: bold;
    }
    .custom-active{
        background: #3fa1e6;
        color: white;
    }
</style>
<template>
    <transition name="modal">
            <div class="modal-mask2">
                <div class="modal-wrapper">
                    <div class="modal-dialog" style="max-width: 700px !important;overflow-y: initial !important">
                        <div class="modal-content" style="width: 100% !important; max-width: 900px !important;">
                            <div class="modal-header" style="background:#3fa1e6;">
                                <button type="button" class="close" @click="close()">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">{{words.category.value}}</h4>
                            </div>
                            <div class="modal-body" style="height: 300px;overflow-y: auto;">
                                <ul style="list-style: none;max-width: 350px;pointer:cursor;">
                                    <category-treenode
                                        :model="nodeData" v-for="(nodeData,ind) in data" 
                                        :selected_node="selected_node"
                                        @update="update">
                                    </category-treenode>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" @click="chooseNode" :disabled="selected_node.id==-1" class="btn btn-primary"><span class="glyphicon glyphicon-ok" ></span> {{words.save.value}}</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </transition>
</template>
<script>
    import manager from './manager.js';
    import translate from '../../translate.js';
    export default{
        name:'cattreeview',
        data(){
            return {
                words:translate.commonWords,
                data:manager.categories,
                selected_node:{
                    id:-1
                }
            }
        },
        components:{
            //'tree-node':TreeNode
        },
        beforeMount:function(){
            
        },
        methods:{
           close(event){
                if(event){
                    event.preventDefault();
                }
                this.refreshData();
                this.$emit('close');
            },
            chooseNode(){
                this.close();
            },
            update(selected_node){
                this.selected_node = selected_node;
                this.$emit('update', this.selected_node);
            },
            refreshData(){
            }
        }
        
    }
</script>