<style lang="">
</style>
<template>
    <table>
         <tr>
             <td>
                <div class="input-group">
                    <div class="input-group-addon iga1">
                        <span class="glyphicon glyphicon-phone"></span>
                        <span class="">8</span>
                    </div>
                    <input type="text" :disabled="editMode==true" class="form-control" style="width:20%;" v-on:keyup="goToPhone()" maxlength="3" ref="operator"  placeholder="(707)" v-model="operator">
                    <input type="text" :disabled="editMode==true" class="form-control" style="width:80%;" ref="phone" maxlength="7" placeholder="(7777777)" v-model="phone_">
                </div>
             </td>
             <td v-if="editMode==true">
                <button type="button" class="btn btn-success">
                     <span class="glyphicon btn-glyphicon img-circle text-success" v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':saveLoading,'glyphicon-ok':!saveLoading}"></span>{{words.save.value}}
                </button> 
             </td>
             <td v-if="editMode==true">
                 <button type="button" class="btn btn-warning">
                     <span class="glyphicon glyphicon-remove btn-glyphicon img-circle text-success"></span>{{words.cancel.value}}
                </button> 
             </td>
             <td v-if="editMode!=true">
                 <button type="button" @click="editMode=true" class="btn btn-primary">
                     <span class="glyphicon glyphicon-pencil btn-glyphicon img-circle text-success"></span>{{words.edit.value}}
                </button> 
             </td>
         </tr>
    </table>
        
</template>
<script>
    import translate from '../../translate.js';
    export default{
        props:['store_id','add_phone','new'],
        data(){
            return{
                operator:null,
                phone_:null,
                editMode:false,    
            }
        },
        methods:{
            goToPhone(){
                if(this.operator&&this.operator.length==3){
                    this.$refs.phone.focus();
                }
            },
            savePhone()
        }
        beforeMount:function(){
            if(this.new!=true){
                this.operator = this.add_phone.phone.slice(0,3);
                this.phone_ = this.add_phone.phone.slice(3);
            }
        }
    }
</script>