<style>
    
</style>
<template>
    <table>
        <tr v-for="(add_phone,ind) in ad">
            <td>
                <add-phone ></add-phone>   
            </td>
        </tr>
    </table>
</template>
<script>
    import Item from './Item.vue';
    export default{
        props:['store_id'],
        data(){
            return{
            }
        },
        methods:{
            updatePhones(),
            savePhone(phone){
                let newAddPhone = {
                    store_id:this.store_id,
                    phone_id:this.add_phone.id,
                    phone:'7'+this.operator+this.phone_;
                };
                let token = localStorage.getItem('id_token')
                Vue.http.post(
                        'api/userstore/addphone?token=' + token,newAddPhone
                    ).then(response => {
                        
                    },response =>{
                        console.log('error save add phone');
                    })
            }            
        }
        components{
           'add-phone':Item
        }
    }
</script>