<style>
</style>
<template>
    <div class="container">
        <router-link :to="{name:'dashboard',params:{type:'mystore'}}" class="btn btn-primary">{{words.back_to_store.value}}</router-link>
        <br />
        <form id="confirmForm" style="width:100%;" method="post" v-on:submit="saveProduct($event)">
            <div v-if="inValid||serverError" class="alert alert-danger">
                <p v-if="missingPhotos()==true">{{words.missingPhoto.value}}</p>
            </div>
            <div class="alert alert-success" v-if="success">
                <p v-if="isNew">{{words.productCreateSuccess.value}}</p>
                <p v-if="isNew!=true">{{words.productEditSuccess.value}}</p>
            </div>        
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6 col-xl-6">
                    <ul class="hide-bullets col-xs-12">
                        <li class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 file-preview-thumbnails" style="padding: 2px;" v-for="(photo,ind) in product.photos">
                            <div class="file-preview-frame krajee-default  file-preview-initial file-sortable kv-preview-thumb" style="padding: 2px;margin: 0px;">
                                <div class="kv-file-content thumbnail-container"  @click="DoShowImageView(photo,ind)">
                                    <img v-if="photo.isNew!=true" :src="'photos/products/thumbnail/'+photo.path" alt="" class="file-preview-image kv-preview-data thumbnail-img">
                                    <img v-if="photo.isNew" :src="'photos/tmp/thumbnail/'+photo.path" alt="" class="file-preview-image kv-preview-data thumbnail-img">
                                </div>
                                <div class="file-thumbnail-footer" v-if="editMode" style="height: 20px;">
                                    <div class="file-actions">
                                        <div class="file-footer-buttons">
                                            <button @click="removecurrentProductEditImage($event,ind,photo.isNew)" :title="words.remove.value" type="button" class="kv-file-remove btn btn-kv btn-default btn-outline-secondary"><i class="glyphicon glyphicon-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" v-if="editMode&&product.photos.length<7">
                            <span class="btn btn-success btn-file" style="margin: 25% 5%;" v-bind:class="{'disabled':fileLoading}">
                                <span class="glyphicon" v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':fileLoading,'glyphicon-plus':!fileLoading}"></span> 
                                {{words.add_photo.value}}
                                <input type="file" v-on:change="processProductFile($event)">
                            </span>
                        </li>
                    </ul>                 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 form">
                    <div class="form-group">
                        <label class="col-xs-12 control-label">{{words.name.value}}:</label>  
                        <div class="col-xs-12">
                            <input :disabled="editMode==false&&saving==false" :placeholder="words.name.value" class="form-control"  type="text" v-model="product.name">
                            <span class="error-text" v-if="inValid&&missingName()==true">{{words.missingName.value}}</span>
                            <span class="error-text" v-if="inValid&&tooLongName()==true">{{words.too_long_text_191.value}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 control-label">{{words.comment.value}}:</label>
                        <div class="col-xs-12">
                            <textarea :disabled="editMode==false&&saving==false" class="form-control" v-model="product.comment" :placeholder="words.comment.value"></textarea>
                            <span class="error-text" v-if="inValid&&missingComment()==true">{{words.missingComment.value}}</span>
                            <span class="error-text" v-if="inValid&&tooLongComment()==true">{{words.too_long_text_1000.value}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 control-label">{{words.cost.value}}:</label>  
                        <div class="col-xs-12">
                            <input :disabled="editMode==false&&saving==false" :placeholder="words.cost.value" class="form-control"  type="text" v-model="product.cost">
                            <span class="error-text" v-if="inValid&&missingCost()==true">{{words.missingCost.value}}</span>
                            <span class="error-text" v-if="inValid&&tooLongCost()==true">{{words.too_long_text_191.value}}</span>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <label class="col-xs-12 control-label">{{words.category.value}}:</label>
                        <div class="col-xs-12">
                            <button type="button" :disabled="editMode==false&&saving==false" class="btn btn-primary" @click="selectCategory($event)">{{product.category_id >0?categoryList[product.category_id].fullText.value:words.choose.value}}</button>
                            <category-tree v-if="showCategoryModal" @close="closeCategoryModal" @update="select_category"></category-tree>
                            <span class="error-text" v-if="inValid&&missingCategory()==true">{{words.missingCategory.value}}</span>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-top:30px;" v-if="editMode">
                        <button type="submit" class="btn btn-success" v-bind:class="{'disabled':saving}" style="margin-right:15px;"><span class="glyphicon glyphicon-ok"></span>{{words.save.value}}</button> 
                        <button type="button" @click="cancel($event)" v-bind:class="{'disabled':saving}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>{{words.cancel.value}}</button>
                    </div>
                    <div class="pull-right" style="margin-top:30px;" v-if="editMode!=true">
                        <button type="button" @click="setEditMode($event)" style="margin-right:15px;" v-bind:class="{'disabled':saving}" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span>{{words.edit.value}}</button> 
                    </div>                      
                </div>
            </div>
            <fullsize-imageview v-if="showImageView" :path="currentImageViewPath" @close="closeImageView"></fullsize-imageview>
        </form>
        <br />
        <router-link :to="{name:'dashboard',params:{type:'mystore'}}" class="btn btn-primary">{{words.back_to_store.value}}</router-link>
    </div> 
</template>
<script>
    import Vue from 'vue';
    import categoryTree from '../Category/Tree.vue';
    import categoryManager from '../Category/manager.js';
    import translate from '../../translate.js';
    import router from '../../router.js';
    import FullSizeImageView from '../FullSizeImageView.vue';
    export default {
        name: 'productForm',
        components:{
            'category-tree':categoryTree,
            'fullsize-imageview':FullSizeImageView,
        },
        data() {
            return {
                //categories:categoryManager.categories,
                editMode:true,
                words:translate.commonWords,
                serverError:false,
                inValid:false,
                showCategoryModal:false,
                success:false,
                fileLoading : false,
                showModal:false,
                categoryList:categoryManager.categoriesNotTree,
                saving:false,
                showImageView:false,
                currentImageViewPath:null,
                isNew:false,
                product:{
                    photos:[]
                }
            }
        },
        methods:{
            selectCategory(event){
                 event.preventDefault();
                 this.showCategoryModal=true;
            },
            saveProduct(event){
                event.preventDefault();
                this.inValid = this.missingName()||this.missingComment()||this.missingCost()||this.missingCategory()||this.missingPhotos()||this.tooLongName()||this.tooLongComment()||this.tooLongCost();
                if(this.inValid){
                    return;
                }
                let token = localStorage.getItem('id_token');
                if (token !== null) {
                    this.saving = true;
                    Vue.http.post(
                        'api/userproduct?token=' + token,this.product
                    ).then(response => {
                        if(response.data.data){
                            this.product = response.data.data;                           
                            this.success = true;
                        }
                        this.editMode = false;
                        this.saving = false;
                    },response=>{
                        this.saving = false;
                        this.serverError = true;
                    })
                }    
            },
            processProductFile(event) {
                let file = event.target.files[0];
                let event_ = event;
                var formData = new FormData();
                formData.append('file', file);
                let token = localStorage.getItem('id_token');
                this.fileLoading = true;
                Vue.http.post('api/upload_tmp?token='+token,formData).then(response => {
                    event_.target.value = null;
                    let newPhotoPath = {path: response.data.file_name,isNew:true};
                    this.product.photos.push(newPhotoPath);    
                    for(let i=0;i<this.product.photos.length;i++){
                        this.product.photos[i].current = i==this.product.photos.length-1;
                    }
                    this.fileLoading = false;
                }, 
                response => {
                    console.log('upload product new image failed');
                    this.fileLoading = false;
                })

            },
            removecurrentProductEditImage(event,index,isNew){
                if(isNew){
                    let token = localStorage.getItem('id_token');
                    Vue.http.post('api/delete_tmp?token='+token,{file_name:this.product.photos[index].path}).then(
                        response => {
                            console.log('tmp file delete success');
                        }, 
                        response => {
                            console.log('tmp file delete fail');
                        })
                }
                this.product.photos.splice(index,1); 
                for(let i=0;i<this.product.photos.length;i++){
                    this.product.photos[i].current = i==this.product.photos.length-1;
                }
            },
            missingName(){
                return !this.product||!this.product.name||this.product.name === ''||this.product.name.trim() === '';
            },
            tooLongName(){
                return this.product!=null&&this.product.name!=null&&this.product.name.length > 191;
            },
            missingCategory(){
                return (this.product.category_id==null||this.product.category_id<1);
            },
            missingComment(){
                return !this.product||!this.product.comment||this.product.comment === ''||this.product.comment.trim() === '';
            },
            tooLongComment(){
                return this.product!=null&&this.product.comment!=null&&this.product.comment.length > 1000;
            },
            missingCost(){
                return !this.product||!this.product.cost||this.product.cost === ''||this.product.cost.trim() === '';
            },
            tooLongCost(){
                return this.product!=null&&this.product.cost!=null&&this.product.cost.length > 191;
            },
            missingPhotos(){
                return !this.product||!this.product.photos||this.product.photos.length==0;
            },
            setProductCurrentImage(event,productPhotos,index){
                for(let i = 0;i<productPhotos.length;i++)
                {
                    productPhotos[i].current=i==index;
                }
            },
            cancel(event){
                for(let i=0;i<this.product.photos.length;i++){
                    this.removecurrentProductEditImage(null,this.product.photos[i].path,this.product.photos[i].isNew);
                }
                console.log("cancel save product");
                router.push({
                    name:'dashboard',
                    params:{
                        type:'mystore'
                    }
                });
                
            },
            setEditMode(event){
                this.editMode = true;
                event.preventDefault();
            },
            select_category(category){
                this.product.category_id = category.id;
            },
            closeCategoryModal(){
                this.showCategoryModal = false;
            },
            DoShowImageView(photo){
                let sendPath = "";
                if(photo.isNew){
                    sendPath = 'photos/tmp/original/'+photo.path;
                }else{
                    sendPath = 'photos/products/original/'+photo.path;
                }
                this.currentImageViewPath = sendPath;
                this.showImageView = true;
            },
            closeImageView(){
                this.showImageView = false;
                this.currentImageViewPath = null;
            },
            fetchData(){
                let token = localStorage.getItem('id_token');
                if (token !== null) {
                    Vue.http.get(
                        'api/userproduct/'+this.$route.params.id+'?token=' + token,
                    ).then(response => {
                        if(response.data.data){
                            this.product = response.data.data;
                            this.notSavedData = JSON.stringify(this.product);
                        }
                    },response => {
                        console.log("error product fetchData");
                    })
                }
            }
        },
        beforeMount:function () {
            this.notSavedData = JSON.parse(JSON.stringify(this.product));
            this.isNew = this.$route.params.id==0;
            if(this.isNew==false){
                this.fetchData();
            }
        }
        
    }
</script>