<style>
</style>
<template>
   <div>
        <div class="row" v-if="productItems!=null&&productItems.length>0">
            <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9">
                <h3 style="color:black !important;">{{text}}</h3>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <!-- Controls -->
                <div class="controls pull-right">
                    <a class="left fa fa-chevron-left" style="margin-right:20px;cursor:pointer;!important;color:black;" @click="plusSlides(-1)"></a>
                    <a class="right fa fa-chevron-right" style="cursor:pointer;!important;color:black;" @click="plusSlides(1)"></a>
                </div>
            </div>
        </div>

        <!-- Wrapper for slides -->
        <div v-for="(item_,ind) in productItems" class="item" v-bind:class="{ 'hidden': ind!=currentItem}">
            <div class="row" v-if="degree!=1">
                <div v-for="columa in item_" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="col-item" style="border:none;">
                        <product-item :modalInSide="false" @zoom="zoom" :product="columa" :withFavouriteButton="true" :inFavouritesPage="false"></product-item>
                    </div>
                </div>
            </div>

            <div class="row" v-if="degree==1">
                <div v-if="ind<4" v-for="(columa,ind) in item_" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="col-item" style="border:none;">
                        <product-item :modalInSide="false" @zoom="zoom" :product="columa" :withFavouriteButton="true" :inFavouritesPage="false"></product-item>
                    </div>
                </div>
            </div>
            <div class="row" v-if="degree==1&&item_!=null&&item_.length>3">
                <div v-if="ind>3" v-for="(columa,ind) in item_" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="col-item" style="border:none;">
                        <product-item :product="columa" :modalInSide="false" @zoom="zoom" :withFavouriteButton="true" :inFavouritesPage="false"></product-item>
                    </div>
                </div>
            </div>

        </div>
        <product-modal :product="currentModalProduct" v-if="showModal"></product-modal>
    </div>     

</template>
<script>
    import ProductItem from './Item.vue';
    import ProductModal from './Modal.vue';
    export default {
            props:[
                'degree'
            ],
            data() {
                return {
                    productItems:[],
                    nextPageUrl:null,
                    timer:null,
                    next_page_url:null,
                    current_page:0,
                    text:null,
                    loaded:false,
                    currentItem:0,
                    showModal:false,
                    currentModalProduct:null
                }
            },
            methods: {
                guid:function guid() {
                    function s4() {
                        return Math.floor((1 + Math.random()) * 0x10000)
                        .toString(16)
                        .substring(1);
                    }
                    return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                        s4() + '-' + s4() + s4() + s4();
                },
                getProducts(){
                    if(this.next_page_url){
                        console.log("next request send");
                        Vue.http.get('api/products/degree/'+this.degree+'?page='+(this.current_page+1)).then(response => {
                            
                            this.next_page_url = response.data.data.next_page_url;
                            this.current_page = response.data.data.current_page;
                            if(response.data.data.data){
                                this.setProducts(response.data.data.data);
                            }
                        },response => {
                            console.log("products got error");
                            console.log(response.bodyText);
                        });
                    }
                },
                doCarousel(){
                    if(this.currentItem===(this.productItems.length-1)){
                        this.currentItem = 0;
                        this.getProducts();
                    }else{
                        this.currentItem = this.currentItem+1;
                    }
                },
                plusSlides(n) {
                    this.currentItem=this.currentItem+n;
                    if(this.currentItem===(this.productItems.length)){
                        this.currentItem = 0;
                    }                    
                },
                setProducts:function(productList){
                    let multiplier = 8;
                    if(this.degree===2||this.degree===3){
                        multiplier = 4;
                    }
                    let i_count = Math.floor(productList.length/multiplier);
                    let remainder = productList.length%multiplier;
 
                    for(var i=0;i<i_count;i++){
                        let newColList = [];
                        for(var h=i*multiplier;h<(i+1)*multiplier;h++){
                            newColList.push(productList[h]);
                        }
                        this.productItems.push(newColList);
                    }
                    if(remainder>0){
                        let newColListRemainder = [];
                        for(var j=i_count*multiplier;j<productList.length;j++){
                            newColListRemainder.push(productList[j]);
                        }
                        this.productItems.push(newColListRemainder);
                    }
                },
                onerror(){
                    console.log("on img exists");
                },
                zoom(product){
                    this.currentModalProduct = product;
                    this.showModal = true;
                    
                },
                closeModal(){
                    
                    this.showModal = false;
                    this.currentModalProduct = null;
                }
            },
            mounted: function () {
                if(this.degree==1){
                    this.text = "Premium";
                }else if(this.degree==2){
                    this.text = "Standart";
                }else if(this.degree==3){
                    this.text = "Economy";
                }
            },
            beforeMount: function () {
                Vue.http.get('api/products/degree/'+this.degree).then(response => {
                    this.productItems = [];
                    console.log(response.data.data);
                    this.next_page_url = response.data.data.next_page_url;
                    this.current_page = response.data.data.current_page;
                    if(response.data.data.data){
                        this.setProducts(response.data.data.data);
                        this.timer = setInterval(this.doCarousel,10000);
                        this.loaded = true;
                    }
                    
                },response => {
                    console.log("Product Item group");
                    console.log(response.bodyText);
                });	                                        
            },destroyed(){
                this.timer =clearInterval(this.timer);
                this.timer = null;
                console.log('product degree'+this.degree+' interval has destroyed');
            },
            components:{
                'product-item':ProductItem,
                'product-modal':ProductModal
            }
    }
</script>