<template>
     <div class="file-preview-frame krajee-default file-preview-initial file-sortable kv-preview-thumb pull-left" v-bind:class="{'vip':product.degree==1}">
        <div @click="zoomProduct()" class="kv-file-content thumbnail-container"  v-if="product.photos!=null&&product.photos.length>0">
            <img :src="'photos/products/thumbnail/'+product.photos[0].path" v-if="" class="thumbnail-img file-preview-image kv-preview-data" />
        </div>
        <div @click="zoomProduct()" class="kv-file-content thumbnail-container"  v-if="product.photos==null||product.photos.length==0">
            <img src="images/image-none.png" alt="" class="thumbnail-img file-preview-image kv-preview-data"/>
        </div>
        <div class="file-thumbnail-footer">
            <div class="file-footer-caption">
                <div class="file-caption-info">{{product.name}}</div>
                <div class="file-size-info"> <samp>{{product.cost}}</samp></div>
            </div>
            <div class="file-actions">
                <div class="file-footer-buttons">
                    <!--button type="button" @click="goToProduct(product.id)" class="btn btn-kv btn-default btn-outline-secondary" title="">
                        <i class="glyphicon glyphicon-new-window"></i>
                    </button-->
                    <button type="button" @click="zoomProduct()" class="btn btn-kv btn-default btn-outline-secondary" :title="words.zoom.value">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </button>
                    <button type="button" v-if="withFavouriteButton==true&&inFavouritesPage==false" class="btn btn-kv btn-default btn-outline-secondary" @click="addToFavourite()" :title="words.favourites.value">
                        <i class="glyphicon glyphicon-star"></i>
                    </button>
                    <button type="button" v-if="inFavouritesPage==true" class="btn btn-kv btn-default btn-outline-secondary" @click="removeFromFavourites()" :title="words.remove.value">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>          
                </div>
            </div>
        </div>
        <div v-if="modalInSide">
            <product-modal :product="product" v-if="showModal"></product-modal>
        </div>    
    </div>       
</template>
<script>
    import Modal from './Modal.vue';
    import favouritesManager from '../Favourites/manager.js'
    import translate from '../../translate.js'
    import router from '../../router.js';
    export default {
        props:['product','withFavouriteButton','inFavouritesPage','modalInSide'],
        data() {
            return{
                showModal:false,
                words:translate.commonWords
            }
        },
        methods:{
            setProductCurrentImage(event,productPhotos,index){
                for(let i = 0;i<productPhotos.length;i++)
                {
                    productPhotos[i].current=i==index;
                }
            },
            addToFavourite(){
                favouritesManager.AddProduct(this.product);
            },
            goToProduct(id){
                 router.push({
                    name: 'products',params:{id:id}
                })
            },
            zoomProduct(){
                this.showModal = true;
                if(this.modalInSide==false){
                    this.$emit('zoom',this.product);
                }
            },
            removeFromFavourites(){
               this.$emit('removeFromFavourites',this.product);
            }
        },
        beforeMount:function () {
     
        },
        components:{
            'product-modal':Modal,
        }
    }
</script>