<style>
.product-slide-img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
</style>
<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container" style="width: 100% !important;">
                    <div class="row" style="border-bottom:none;">
                        <button type="button" class="close" style="opacity: 1 !important;font-size:60px !important;position: inherit !important; top:0px !important;right:0px !important;"  @click="close()">&times;</button>
                    </div>
                    <div class="modal-body" style="padding: 0px 5px !important;margin: 5px 0;max-height:500px;overflow-y:scroll;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-xl-7 black">
                                <div class="col-xs-12">
                                    <div class="carousel slide" data-ride="carousel" id="productCarousel" style="max-height:400px;width:100%;">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#productCarousel" :data-slide-to="index" v-for="(photo,index) in product.photos"></li>
                                        </ol>
                                        <!-- Carousel items -->
                                        <div class="carousel-inner">
                                            <div class="item" :data-slide-number="index" v-for="(photo,index) in product.photos">
                                                <div v-bind:class="{'image-on-center':windowWidth!='xs'}"><img class="product-slide-img" :src="'photos/products/original/'+photo.path"></div>
                                            </div>
                                        </div>
                                        <!-- Carousel nav -->
                                        <a class="left carousel-control" href="#productCarousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                        </a>
                                        <a class="right carousel-control" href="#productCarousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                        </a>                                
                                    </div> 
                                </div> 
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="color:white;">
                                <router-link class="btn" v-if="is_in_store==false"  style="width: 100%; background-color: rgb(255, 153, 0); color: white;" :to="{name:'stores',params:{id:product.store.id}}"><span class="glyphicon glyphicon-log-in"></span> {{words.view_shop.value}}</router-link>
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>{{words.product_name.value}}</td>
                                            <td>{{product.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{words.cost.value}}</td>
                                            <td>{{product.cost}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{words.info.value}}</td>
                                            <td><div style="max-height:80px;overflow:auto;">{{product.comment}}</div></td>
                                        </tr>
                                        <tr v-if="product.user!=null">
                                            <td>{{words.seller_name.value}}</td>
                                            <td>{{product.user.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{words.store_name.value}}</td>
                                            <td><router-link  style="color:#fff !important;" :to="{name:'stores',params:{id:product.store.id}}">{{product.store.name}}</router-link></td>
                                            
                                        </tr>
                                        <tr v-if="product.store">
                                            <td>{{words.address.value}}</td>
                                            <td><div style="max-height:40px;overflow:auto;">{{product.store.address}}</div></td>
                                        </tr>
                                        <tr v-if="product.user">
                                            <td><i class="fa fa-phone"></i></td>
                                            <td>+{{product.user.phone}}</td>
                                        </tr>
                                        <tr v-if="product.store!=null&&product.store.phone!=null">
                                            <td><i class="fa fa-phone"></i></td>
                                            <td><div style="max-height:80px;overflow:auto;">{{product.store.phone}}</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <a class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" href="http://postexpress.kz/ru/rasschitat-stoimost/" target="_blank">
                                       <img src="images/logo_post_express.png" style="max-width: 100%;max-height:50px;">
                                    </a> 
                                    <a class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" href="https://post.kz/courier" target="_blank">
                                       <img src="images/logo_kaz_post.svg" style="width: 45%;">
                                    </a> 
                                    <button class="btn col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="background-color: gold;">
                                       <span aria-hidden="true" class="glyphicon glyphicon-star"></span>
                                    </button>
                                </div>
                            </div>
                        </div>    
                        <!--div class="row hidden-xs">
                            <div class="span12">
                                <ul class="hide-bullets">
                                    <li class="col-xs-2 thumbnail-container black" style="margin-right:2px;" v-bind:class="{'active-thumbnail':photo.current}" v-for="(photo,ind) in product.photos">
                                        <img class="thumbnail-img black" :src="'photos/products/thumbnail/'+photo.path" @click="clickThumbnail(photo,ind)">
                                    </li>
                                </ul>
                            </div>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </transition>    
</template>
<script>
    import translate from '../../translate.js';
    import favouriteManager from '../Favourites/manager.js';
    export default{
       props:['product'],
       data(){
           return{
               currentPhoto:null,
               currentPhotoIndex:0,
               words:translate.commonWords,
               is_in_store:false,
               windowWidth:window.currentWindowWidth
           }
       },
       components:{
       },
       methods:{
            close(){
                this.$parent.$data.showModal = false;
            },
            clickThumbnail(photo,ind){
                this.currentPhoto = photo;
                this.currentPhotoIndex = ind;
            },next(){
               this.currentPhotoIndex++;
               if(this.currentPhotoIndex==this.product.photos.length-1){
                  this.currentPhotoIndex = 0;
               }
               this.currentPhoto = this.product.photos[this.currentPhotoIndex];
               this.updateCurrentPhoto();
            },
            prev(){
                this.currentPhotoIndex--;
               if(this.currentPhotoIndex==-1){
                  this.currentPhotoIndex = this.product.photos.length-1;
               }
               this.currentPhoto = this.product.photos[this.currentPhotoIndex];
               this.updateCurrentPhoto();
            },
            updateCurrentPhoto(){
                for(let i =0;i<this.product.photos.length;i++){
                    this.product.photos[i].current = i==this.currentPhotoIndex;
                }
            },
            addToFavourite(){
                 favouriteManager.AddProduct(this.product);
            }
       },
       mounted:function(){
            $($('#productCarousel .item')[0]).addClass('active');
            $($('#productCarousel li[data-slide-to]')[0]).addClass('active');
            $('#productCarousel').carousel({
                interval: 2000
        });
       },
       beforeMount:function(){
           if(this.product.photos!=null&&this.product.photos.length>0){
                this.currentPhoto = this.product.photos[0];
                this.currentPhoto.current=true;
           }
           this.is_in_store = this.$route.name=='stores';
       }
       
    }
</script>

