<style>
    
</style>
<template>
    <transition name="modal">
            <div class="modal-mask2">
                <div class="modal-wrapper">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background:#3fa1e6;">
                                <button type="button" class="close" @click="cancel()">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">{{words.confirm_remove.value}}</h4>
                            </div>
                            <div class="modal-body">
                                
                                <div class="form-inline">
                                    <h6 class="modal-title">{{words.confirm_product_remove.value+', '+name}}</h6>
                                    <!--div class="alert alert-danger" v-if="error">
                                        <p>{{errorText.value}}</p>
                                    </div-->
                                    <div class="form-group">
                                        <button type="button" @click="remove()" class="btn btn-primary" for="removeProductNo"><span class="glyphicon glyphicon-ok"></span></span> Ok</button>
                                        <button type="button" @click="cancel()" id="removeProductNo" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> {{words.cancel.value}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
</template>
<script>
    import translate from '../../translate.js';
    import Vue from 'vue';
    export default {
        props:['name'],
        data() {
            return {
                words:translate.commonWords
            }
        },
        computed: {
            
        },
        methods: {
            remove:function(event){
                this.$emit('remove');
            },
            cancel(event){
                this.$emit('cancel');
            }
        }
    }

</script>