<style>
</style>
<template>
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <div class="carousel slide" data-ride="carousel" :id="sliderId" style="max-height:400px;width:100%;">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li :data-target="'#'+sliderId" :data-slide-to="index" v-for="(photo,index) in product.photos"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item" :data-slide-number="index" v-for="(photo,index) in product.photos" @click="showImage('photos/products/original/'+photo.path)">
                        <img class="fit-contain-image" :src="'photos/products/original/'+photo.path">
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="left carousel-control" :href="'#'+sliderId" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>                                       
                </a>
                <a class="right carousel-control" :href="'#'+sliderId" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>                                       
                </a>                                
            </div> 
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <div class="form-group">
                <label class="col-xs-12 control-label" style="padding: 0 2px 0 0;">{{words.name.value}}:</label>  
                <input disabled :placeholder="words.name.value" class="form-control col-xs-12"  type="text" v-model="product.name">
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label">{{words.comment.value}}:</label>
                <textarea disabled class="form-control col-xs-12" v-model="product.comment" :placeholder="words.comment.value"></textarea>
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label">{{words.cost.value}}:</label>  
                <input disabled :placeholder="words.cost.value" class="form-control col-xs-12"  type="text" v-model="product.cost">
            </div>
            <div class="form-group"> 
                <label class="col-xs-12 control-label">{{words.category.value}}:</label>
                <button type="button" disabled class="btn btn-primary col-xs-12">{{categoryList[product.category_id].fullText.value}}</button>
            </div>
            <div class="pull-right">
                <router-link :to="{name:'productForm',params:{id:product.id}}" style="margin-right:15px;" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span>{{words.edit.value}}</router-link> 
                <button type="button" @click="showConfirmDeleteProduct=true" class="btn btn-danger" v-bind:class="{'disabled':deleting}"><span v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':deleting,'glyphicon-remove':deleting==false}" class="glyphicon"></span>{{words.remove.value}}</button> 
            </div>
        </div>
        <fullsize-imageview v-if="showImageView" :path="currentImageViewPath" @close="close" ></fullsize-imageview>
        <productdelete-comfirmmodal :name="product.name" @remove="deleteProduct" @cancel="showConfirmDeleteProduct=false" v-if="showConfirmDeleteProduct"></productdelete-comfirmmodal>
    </div>          
</template>
<script>
    import translate from '../../translate.js';
    import categoryManager from '../Category/manager.js';
    import FullSizeImageView from '../FullSizeImageView.vue';
    import ProductDeleteComfirmModal from './ProductDeleteComfirmModal.vue';
    export default{
       props:['product'],
       data(){
           return{
               words:translate.commonWords,
               sliderId:null,
               showImageView:false,
               currentImageViewPath:null,
               categoryList:categoryManager.categoriesNotTree,
               showConfirmDeleteProduct:false,
               deleting:false
           }
       },
       components:{
           'fullsize-imageview':FullSizeImageView,
           'productdelete-comfirmmodal':ProductDeleteComfirmModal
       },
       methods:{
            guid:function guid() {
                function s4() {
                    return Math.floor((1 + Math.random()) * 0x10000)
                    .toString(16)
                    .substring(1);
                }
                return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                    s4() + '-' + s4() + s4() + s4();
            },
            showImage(path){
                this.currentImageViewPath = path;
                this.showImageView = true;
            },
            close(){
                this.showImageView = false;
                this.currentImageViewPath = null;
            },
            deleteProduct(){
                this.showConfirmDeleteProduct = false;
                let token = localStorage.getItem('id_token');
                if (token !== null) {
                    Vue.http.post(
                        'api/userproduct/delete/'+this.product.id+'?token=' + token
                    ).then(response => {
                         this.$emit('update',"delete_success");
                    },response=>{
                        console.log("product deleted");
                    })
                }
            }
       },
       beforeMount: function () {
           this.sliderId = this.guid();           
       },
       mounted:function(){
            $($('#'+this.sliderId+' .item')[0]).addClass('active');
            $($('#'+this.sliderId+' li[data-slide-to]')[0]).addClass('active');
            $('#'+this.sliderId+'').carousel({
                    interval: 2000
            });
       },
       
    }
</script>