<template>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="panel with-nav-tabs panel-info">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li v-bind:class="{active:type=='login'}">
                            <router-link :to="{ name: 'auth',params:{type:'login'} }">{{words.login.value}}</router-link>
                        </li>
                        <li v-bind:class="{active:type=='register'}">
                            <router-link :to="{ name: 'auth',params:{type:'register'} }">{{words.register.value}}</router-link>
                        </li>
                    </ul>
                </div>

                <div class="panel-body">
                <div class="tab-content">
                    <div id="login" class="tab-pane" v-bind:class="{active:type=='login'}">
                        <div class="container-fluid">
                            <div class="row">
                                <h2 class="text-center" style="color: #5cb85c;"> <strong> {{words.login.value}}  </strong></h2><hr />
                                <sigin-component></sigin-component>
                            </div>
                        </div> 
                    </div>

                    <div id="signup" class="tab-pane" v-bind:class="{active:type=='register'}">
                        <div class="container-fluid">
                            <div class="row">
                                <h2 class="text-center" style="color: #f0ad4e;"> <Strong> {{words.register.value}} </Strong></h2> <hr />
                                <register-component></register-component>  
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
    </div>
</template>
<style>
    .btn-success
   {
      transition: 0.5s;
   }

   .btn-success:hover, .btn-success:focus
   {
      background: white;
      border-color: #5cb85c;
      color: black;
      transition: all 0.4s;
   }

   .btn-warning
   {
      transition: 0.5s;
   }

   .btn-warning:hover, .btn-warning:focus
   {
      background: white;
      color: black;
      border-color: #f0ad4e;
   }

   .panel.with-nav-tabs .nav-tabs
   {
      border-bottom: none; 
   }
   .panel.with-nav-tabs .nav-justified
   {
      margin-bottom: -4px;
   }

   .panel
   {
      margin: 7%;
   }

   .modal-header
   {
      background: #3cc6be;
      color: white;
      text-align: center;
   }

   .input-group-addon
   {
      background-color: #5cb85c;
      color: white;
   }

   .iga1
   {
      background-color: #f0ad4e;
      color: white;
   }

   .iga2
   {
      background-color: #FF3838;
      color: white;
   }

  

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>
<script>
    import Register from './Register.vue';
    import Signin from './Signin.vue';
    import translate from '../../translate.js';
    export default {
        data() {
            return {
                regData:{
                    name:"",
                    phone:"",
                    password:"",
                    code:"",
                    attemptSubmit: false
                },
                type:'login',
                words:translate.commonWords
            }
        },
        components:{
          'register-component':Register,
          'sigin-component':Signin
        },
        methods: {
            
        },
        beforeMount:function(){
            this.type = this.$route.params.type;
        },
        mounted: function () {
            
        },
        watch:{
			'$route' (to, from) {
				//this.isHomePage = to.name==="home";
                this.type = this.$route.params.type;
			}
		}
    }
</script>