<style>
    
</style>
<template>
    <transition name="modal">
            <div class="modal-mask2">
                <div class="modal-wrapper">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background:#3fa1e6;">
                                <button type="button" class="close" style="color:#fff !important;opacity:1 !important;top: 1.5% !important;right: 5%; !important;" @click="close(event)">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">{{words.confirm_phone.value}}</h4>
                            </div>
                            <div class="modal-body">
                                
                                <form class="form-inline" id="registerForm" method="post" v-on:submit="confirmRegister">
                                    <h6 class="modal-title">{{words.confirm_phone_description.value}}</h6>
                                    <div class="alert alert-danger" v-if="error">
                                        <p>{{errorText.value}}</p>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="code">Код: </label>
                                        <input type="text" class="form-control" v-model="code" id="code">
                                    </div>
                                    <button type="submit" class="btn btn-success"><span class="glyphicon" v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':sending,'glyphicon-ok':!sending}"></span></span> Ok</button>
                                    <button type="button" @click="close(event)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> {{words.cancel.value}}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
</template>
<script>
    import auth from '../../auth.js';
    import translate from '../../translate.js';
    import Vue from 'vue';
    export default {
        props:['user_id','phone','password'],
        data() {
            return {
                success: false,
                error: false,
                errorText:null,
                code:null,
                auth:auth,
                sending:false,
                words:translate.commonWords
            }
        },
        computed: {
            
        },
        methods: {
            confirmRegister:function(event){
                event.preventDefault();
                if(this.missingCode()){
                    this.error = true;
                    this.errorText= this.words.fill_values;
                }
                this.sending = true;
                Vue.http.post(
                    'api/confirm_register',
                    {
                        code:this.code,
                        user_id:this.user_id
                    }
                ).then(response => {
                    this.success = true;
                    this.error = false;
                    this.errorText= null;
                    auth.user.firstAuth = true;
                    auth.signin(this,this.phone,this.password);
                    this.close();
                    this.sending = false;
                }, response => {
                    if(response.status==401){
                        this.errorText= this.words.not_numbers_error;
                    }else{
                        this.errorText= this.words.server_error;
                    }
                    this.error = true;
                    this.success = false;
                    this.sending = false;
                })
            },
            missingCode: function () {
                return this.code==null||this.code == ''||this.code.trim()=='';
            },
            close(event){
                //this.modalShown = false;
                if(event){
                    event.preventDefault();
                }
                this.refreshData();
                this.$parent.$data.showModal = false;
            },
            refreshData(){
                this.success = false;
                this.error = false;
                this.code = null;
                this.sending = false;
            }
        }
    }

</script>