<style>
    .show-modal{
        display:block !important;
    }
    .hide-modal{
        display:none !important;
    }
</style>
<template>
        <transition v-if="modalShown" name="modal">
            <div class="modal-mask2">
                <div class="modal-wrapper">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" style="top: 1.5% !important;right: 5%; !important;" @click="close()" class="close" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                                <h4 class="modal-title"> {{words.refresh_password.value}} </h4>
                            </div>

                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="alert alert-danger" v-if="error">
                                        <p>{{errorText.value}}</p>
                                    </div>
                                    <div class="alert alert-success" v-if="success">
                                        <p>{{words.new_pass_sent_success.value}}</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon iga1">
                                                    <span class="glyphicon glyphicon-phone"></span>
                                                        <span class="">8</span>
                                                    </div>
                                                    <input type="text" class="form-control form-control-warning" style="width:30%;" v-on:keyup="goToForgetPhone()" ref="forget_operator" maxlength="3" placeholder="(707)" v-model="forget_operator">
                                                    <input type="text" class="form-control form-control-warning" style="width:70%;" maxlength="7" placeholder="(7777777)" ref="forget_phone" v-model="forget_phone">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="form-group row">
                                    <button type="button" class="btn btn-success col-xs-6" @click="sendNewPassword()"> {{words.send_new_password.value}}   <span class="glyphicon" v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':sending,'glyphicon-send':!sending}"></span></button>
                                    <button type="button" @click="close()" class="btn btn-danger col-xs-4">{{words.cancel.value}}   <span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
</template>
<script>
    import translate from '../../translate.js';
    export default{
       props:['modalShown'], 
       data(){
           return{
                words:translate.commonWords,
                forget_phone: null,
                forget_operator:null,
                //newPassSent:false,
                newPassStatus:9999,
                error:false,
                success:false,
                sending:false
           }
       },
       components:{
       },
       methods:{
            close(){
                //this.modalShown = false;
                this.refreshData();
                this.$parent.$data.modalShown = false;
                
            },
            refreshData(){
                this.forget_phone = null;
                this.forget_operator = null;
                //this.newPassSent = false;
                this.newPassStatus = 9999;
                this.error = false;
            },
            sendNewPassword(){
                if ( this.missingForgetOperator()|| this.missingForgetPhone()) {
                    this.errorText = this.words.invalid_phone;
                    this.error = true;
                }else{
                    this.sending = true;
                    Vue.http.post(
                        'api/sendnewpassword',
                        {
                            phone: "7"+this.forget_operator+this.forget_phone
                        }
                    ).then(response => {
                        this.newPassSent = true;
                        this.newPassSentStatus = response.data;
                        this.$parent.$data.newPasswordSent = true;
                        this.$parent.$data.success = true;
                        this.success = true;
                        this.error = false;
                        this.sending = false;
                        this.close();
                    }, response => {
                        if(response.status==401){
                            this.errorText = this.words.user_not_registered;
                        }else{
                            this.errorText = this.words.server_error;
                        }
                        this.error = true;
                        this.newPassSentStatus = response.data;
                        this.newPassSent = true;
                        this.modalShown =  true;
                        this.sending = false;
                    })
                }
                
            },
            goToForgetPhone(){
                if(this.forget_operator.length==3){
                    this.$refs.forget_phone.focus();
                }
            },
            missingForgetPhone: function () {
                return this.forget_phone==null||this.forget_phone === ''||this.forget_phone.trim()==''||this.forget_phone.length!=7;
            },
            missingForgetOperator: function () {
                return this.forget_operator==null||this.forget_operator === ''||this.forget_operator.trim()==''||this.forget_operator.length!=3;
            }
       },
       beforeMount:function(){

       }
       
    }
</script>

