<style>

</style>
<template>
    <form id="confirmForm" method="post" v-on:submit="validateForm">
        <div class="alert alert-danger" v-if="error">
            <p>{{errorText.value}}</p>
        </div>
        <!--div class="alert alert-success" v-if="success">
            <p>Registration completed. You can now sign in.</p>
        </div-->        
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon iga1">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <input type="text" :disabled="registering" class="form-control" :placeholder="words.username.value" v-model="name" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon iga1">
                            <span class="glyphicon glyphicon-phone"></span>
                            <span class="">8</span>
                        </div>
                        <input type="text" :disabled="registering" class="form-control" style="width:30%;" v-on:keyup="goToPhone()" maxlength="3" ref="operator"  placeholder="(707)" v-model="operator">
                        <input type="text" :disabled="registering" class="form-control" style="width:70%;" ref="phone" maxlength="7" placeholder="(7777777)" v-model="phone">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon iga1">
                            <span class="glyphicon glyphicon-lock"></span>
                        </div>
                        <input type="password" class="form-control" :disabled="registering" :placeholder="words.password.value" v-model="password">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <button type="submit" :disabled="registering" class="btn btn-lg btn-block btn-warning">{{words.register.value}} <span v-if="registering" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></button>
                </div>
            </div>
        </div>
        <confirm-registermodal v-if="showModal" :user_id="user_id" :phone="'7'+operator+phone" :password="password"></confirm-registermodal>
    </form>    
</template>
<script>
    import auth from '../../auth.js';
    import translate from '../../translate.js';
    import ConfirmRegisterModal from './ConfirmRegisterModal.vue';
    import Vue from 'vue';
    export default {
        data() {
            return {
                name: null,
                operator:null,
                phone: null,
                password: null,
                success: false,
                error: false,
                errorText: null,
                showModal:false,
                user_id:null,
                registering:false,
                words:translate.commonWords
            }
        },
        computed: {
            
        },
        methods: {
            validateForm: function (event) {
                event.preventDefault();
                if (this.missingName() || this.missingPhone()  || this.missingOperator()||this.missingPassword()) {
                    this.error = true;
                    this.errorText = this.words.fill_values;
                }else{
                    this.registering = true;
                    Vue.http.post(
                        'api/register',
                        {
                            name: this.name,
                            phone: "7"+this.operator+this.phone,
                            password: this.password
                        }
                    ).then(response => {
                        this.success = true;
                        this.error = false;
                        this.user_id = response.data.user_id;
                        this.showModal = true;
                        this.registering = false;
                        
                    }, response => {
                        if(response.status==418){
                            this.errorText = this.words.user_already_registered;
                        }else{
                            this.errorText = this.words.server_error;
                        }
                        this.error = true;
                        this.success = false;
                        this.registering = false;
                    })
                }
            },
            goToPhone(){
                if(this.operator&&this.operator.length==3){
                    this.$refs.phone.focus();
                }
            },
            missingName: function () {
                return this.name==null||this.name == ''||this.name.trim()=='';
            },
            missingPhone: function () {
                return this.phone==null||this.phone == ''||this.phone.trim()==''||this.phone.length!=7;
            },
            missingOperator: function () {
                return this.operator==null||this.operator === ''||this.operator.trim()==''||this.operator.length!=3;
            },
            missingPassword: function () {
                return this.password==null||this.password === ''||this.password.trim()=='';
            }
        },
        components:{
            'confirm-registermodal':ConfirmRegisterModal
        }
    }
</script>
