<style>
</style>
<template>
    <form id="signinForm" method="post" v-on:submit="signin">
        <div class="alert alert-danger" v-if="error">
            <p v-if="responseStatus==500">{{words.server_error.value}}</p>
            <p v-if="responseStatus==401">{{words.login_error.value}}</p>
            <p v-if="contextErrorText">{{contextErrorText.value}}</p>
        </div>
        <div class="alert alert-success" v-if="success">
            <p v-if="newPasswordSent">{{words.new_pass_sent_success.value}}</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon iga1">
                            <span class="glyphicon glyphicon-phone"></span>
                            <span class="">8</span>
                        </div>
                        <input type="text" :disabled="signing" class="form-control form-control-warning" style="width:30%;" v-on:keyup="goToPhone()" maxlength="3" ref="operator"  placeholder="(707)" v-model="operator">
                        <input type="text" :disabled="signing" class="form-control form-control-warning" style="width:70%;" ref="phone" maxlength="7" placeholder="(7777777)" v-model="phone">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <input :disabled="signing" type="password" :placeholder="words.password.value" class="form-control" v-model="password">
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <a href="javascript:void(0);" @click="modalShown=true">{{words.forgot_password.value}}</a>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" :disabled="signing" class="btn btn-success btn-block btn-lg">{{words.login.value}} <span v-if="signing" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></button>
            </div>
        </div>
        <forgot-passwordmodal :modalShown="modalShown"></forgot-passwordmodal>
    </form>
</template>
<script>
    import auth from '../../auth.js';
    import translate from '../../translate.js';
    import Vue from 'vue';
    import forgotPasswordModal from './ForgetPasswordModal.vue';
    export default {
        data() {
            return {
                phone: null,
                operator:null,
                password: null,
                success: false,
                error: false,
                words:translate.commonWords,
                contextErrorText:null,
                modalShown:false,
                signing:false,
                responseStatus:null,
                newPasswordSent:false,
            }
        },
        computed:{
            
        },
        methods: {
            signin:function(event){
                event.preventDefault();
                if ( this.missingOperator()|| this.missingPhone()||this.missingPassword()) {
                    this.error = true;
                    this.contextErrorText = this.words.fill_values;
                }else{
                    auth.signin(this, "7"+this.operator+this.phone, this.password);  
                }
            },
            goToPhone(){
                if(this.operator&&this.operator.length==3){
                    this.$refs.phone.focus();
                }
            },
            missingPhone: function () {
                return this.phone==null||this.phone == ''||this.phone.trim()==''||this.phone.length!=7;
            },
            missingOperator: function () {
                return this.operator==null||this.operator === ''||this.operator.trim()==''||this.operator.length!=3;
            },
            missingPassword: function () {
                return this.password==null||this.password === ''||this.password.trim()=='';
            }
        },
        components:{
            'forgot-passwordmodal':forgotPasswordModal
        }
    }

</script>