<style>
</style>
<template>
    <div class="container">
        <form id="confirmForm" method="post" style="width:100%;" v-on:submit="saveStore($event)">
            <div v-if="error" class="alert alert-danger">
                <p>{{errorText.value}}</p>
                <br />
                <span class="error-text" v-if="missingPhoto()">{{words.missingPhoto.value}}</span>
            </div>
            <div class="alert alert-success" v-if="success">
                <p>{{succesText.value}}</p>
            </div>        
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="file-preview-frame krajee-default  file-preview-initial file-sortable kv-preview-thumb pull-left">
                        <div class="kv-file-content thumbnail-container" >
                            <img :src="'photos/tmp/thumbnail/'+store.tmp_photo" v-if="store.tmp_photo!=null" class="thumbnail-img file-preview-image kv-preview-data" />
                            <img :src="'photos/stores/thumbnail/'+store.photo_path" v-if="store.photo_path!=null" class="thumbnail-img file-preview-image kv-preview-data" />
                            <img src="images/image-none.png" v-if="!store.photo_path&&!store.tmp_photo" class="thumbnail-img file-preview-image kv-preview-data" />
                        </div>
                        <div class="file-thumbnail-footer" v-if="editMode">
                            <div class="file-footer-caption">
                                <div class="file-caption-info">{{fileName}}</div>
                                <div class="file-size-info"> <samp>{{fileSize}}</samp></div>
                            </div>
                            <div class="file-actions">
                                <div class="file-footer-buttons">
                                    <button class="btn btn-success btn-file" v-bind:class="{'disabled':fileLoading}">
                                        <span class="glyphicon" v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':fileLoading,'glyphicon-plus':!fileLoading}"></span> 
                                        {{words.add_photo.value}}
                                        <input type="file" v-on:change="processStoreFile($event)">
                                    </button>        
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-xl-7 form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-12 control-label" style="padding: 0 2px 0 0;">{{words.name.value}}:</label>  
                        <div class="col-xs-12">
                            <input :disabled="dataSaving==false&&editMode==false" :placeholder="words.name.value" class="form-control"  type="text" v-model="store.name">
                            <span class="error-text" v-if="error&&missingName()">{{words.missingName.value}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 control-label">{{words.comment.value}}:</label>
                        <div class="col-xs-12">
                            <textarea :disabled="dataSaving==false&&editMode==false" class="form-control" v-model="store.comment" :placeholder="words.comment.value"></textarea>
                            <span class="error-text" v-if="error&&missingComment()">{{words.missingComment.value}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 control-label">{{words.address.value}}:</label>  
                        <div class="col-xs-12">
                            <input  :disabled="dataSaving==false&&editMode==false" :placeholder="words.address.value" class="form-control"  type="text" v-model="store.address">
                            <span class="error-text" v-if="error&&missingAddress()">{{words.missingAddress.value}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 control-label">{{words.add_phone_number.value}}:</label>  
                        <div class="col-xs-12">
                            <input  :disabled="dataSaving==false&&editMode==false" :placeholder="words.add_phone_number.value" class="form-control"  type="text" v-model="store.phone">
                        </div>
                    </div>
                    
                    <div class="pull-right" v-if="editMode==true">
                        <button type="submit" class="btn btn-success" style="margin-right:15px;"><span style="margin-right:15px;" class="glyphicon" v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':dataSaving,'glyphicon-ok':!dataSaving,'disabled':dataSaving}"></span> {{words.save.value}}</button> 
                        <button type="button" @click="cancel($event)" class="btn btn-danger" v-bind:class="{'disabled':dataSaving}"><span class="glyphicon glyphicon-remove" style="margin-right:15px;"></span>{{words.cancel.value}}</button>
                    </div>
                    <div class="pull-right" v-if="editMode!=true">
                        <router-link :to="{name:'stores',params:{id:store.id}}" class="btn btn-primary" style="margin=right:10px;">{{words.how_do_i_seen.value}}</router-link> 
                        <button type="button" @click="setEditMode($event)" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span>{{words.edit.value}}</button> 
                    </div>                      
                </div>
            </div>
        </form>   
    </div>     
</template>
<script>
    import Vue from 'vue';
    import translate from '../../translate.js';
    import auth from '../../auth.js';
    
    export default {
        name: 'storeForm',
        props:['store','parentEditMode'],
        data() {
            return {
                words:translate.commonWords,
                fileName:null,
                fileSize:null,
                fileLoading:false,
                error:false,
                errorText:null,
                successText:null,
                success:false,
                dataSaving:false,
                editMode:false,
                newAddPhoneValue:null
            }
        },
        methods:{
            saveStore(event){
                event.preventDefault();
                this.error = this.missingName()||this.missingComment()||this.missingAddress()||this.missingPhoto();
                if(this.error){
                    this.errorText = this.words.fill_values;
                    return;
                }
                let token = localStorage.getItem('id_token')
                this.dataSaving = true;
                if (token !== null) {
                    Vue.http.post(
                        'api/userstore?token=' + token,this.store
                    ).then(response => {
                        if(this.store.id==0){
                            auth.check();
                        }
                        this.$emit('update');
                        this.dataSaving = false;
                        this.editMode = false;
                        this.succes = true;
                        this.error = false;
                        this.errorText = null;
                        this.successText = this.words.edit_success;
                    },response=>{
                        this.editMode = false;
                        this.succes = false;
                        this.error = true;
                        this.dataSaving = false;
                        this.errorText = this.words.server_error;
                        this.successText = null;
                    })
                }    
            },
            processStoreFile(event) {
                event.preventDefault();
                let file = event.target.files[0];
                let event_ = event;
                this.fileName = file.name;
                this.fileSize = file.size;
                this.fileLoading = true;
                var formData = new FormData();
                formData.append('file', file);
                let token = localStorage.getItem('id_token');
                Vue.http.post('api/upload_tmp?token='+token,formData).then(response => {
                    this.fileName = null;
                    this.fileSize = null;
                    this.fileLoading = false;
                    event_.target.value = null;
                    if(this.store.tmp_photo){
                        this.removeCurrentStoreTmpEditImage(this.store.tmp_photo);
                    }
                    this.store.tmp_photo = response.data.file_name;
                    this.store.photo_path = null; 
                }, 
                response => {
                    this.fileLoading = false;
                    this.error = true;
                    this.errorText = this.words.server_error;
                })
            },
            removeCurrentStoreTmpEditImage(fileName){
                    let token = localStorage.getItem('id_token');
                    Vue.http.post('api/delete_tmp?token='+token,{file_name:fileName}).then(
                    response => {
                        console.log('tmp file delete success');
                    }, 
                    response => {
                        console.log('tmp file delete fail');
                    })
            },
            missingName(){
                return !this.store||!this.store.name||this.store.name === ''||this.store.name.trim() === '';
            },
            missingComment(){
                return !this.store||!this.store.comment||this.store.comment === ''||this.store.comment.trim() === '';
            },
            missingAddress(){
                return !this.store||!this.store.address||this.store.address === ''||this.store.address.trim() === '';
            },
            missingPhoto(){
                return !this.store||(!this.store.photo_path&&!this.store.tmp_photo);
            },
            cancel(event){
                console.log("cancel save store");
                this.$emit('cancel');
                this.editMode = false;
                event.preventDefault();
            },
            setEditMode(event){
                this.editMode = true;
                event.preventDefault();
            },
            addPhone(){
                this.$emit('savePhone',{
                    id:null,
                    phone:JSON.parse(JSON.stringify(this.newAddPhoneValue))
                });
                this.newAddPhoneValue = null;
            },
            savePhone(event,id){
                this.$emit('savePhone',{
                    id:id,
                    phone:event.target.value
                });
                this.newAddPhoneValue = null;
            },
            removeAddPhone(ind){
                this.$emit('removePhone',ind);
            }
        },
        beforeMount:function () {
            if(this.parentEditMode==true){
                this.editMode = true;
            }
        },
        destroyed:function(){
            this.fileName = null;
            this.fileSize = null;
            this.fileLoading = false;
            this.error= false;
            this.errorText= null;
            this.successText= null;
            this.success= false;
            this.dataSaving= false;
        }
    }
</script>