<style>
</style>
<template>
   <div class="container">
        <div align="center" v-if="loading">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="font-size: 100px;"></span>
        </div>
        <ul class="hide-bullets">
            <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3" v-for="(store,index) in storeItems">
                <store-item :store="store" :withFavouriteButton="true" :inFavouritesPage="false"></store-item>
            </li>
        </ul>
        <div style="margin-left:40%;" v-if="next_page_url!=null">
             <button type="button" class="btn btn-primary" @click="getStores">
                 <span class="glyphicon" v-bind:class="{'glyphicon-refresh glyphicon-refresh-animate':loading,'glyphicon-arrow-down':!loading}"></span> {{words.load_more.value}}</button>     
        </div>     
    </div>     
</template>
<script>
    import StoreItem from './Item.vue';
    import catManager from '../Category/manager.js'
    export default {
            data() {
                return {
                    category:0,
                    storeItems:[],
                    nextPageUrl:null,
                    next_page_url:null,
                    current_page:0,
                    loading:false,
                    currentItem:0,
                }
            },
            methods: {
                getStores(){
                    if(this.next_page_url){
                        console.log("next request send");
                        this.loading = true;
                        this.fetchData();
                    }
                },
                fetchData(){
                    Vue.http.get('api/stores/category/'+this.category+'?page='+(this.current_page+1)).then(response => {
                        this.next_page_url = response.data.data.next_page_url;
                        this.current_page = response.data.data.current_page;
                        if(response.data.data.data){
                            for(let i=0;i<response.data.data.data.length;i++){
                                this.storeItems.push(response.data.data.data[i]);
                            }
                        }
                        this.loading = false;
                    },response => {
                        console.log("stores got error");
                        this.loading = false;
                    });
                }
            },
            mounted: function () {
            },
            beforeMount: function () {
                this.loading = true;
                this.category = this.$route.params.id;
                
                this.fetchData();	                                        
            },
            components:{
                'store-item':StoreItem
            },
            watch:{
                '$route.params' (to, from) {
                    this.category = to.id;
                    this.storeItems =[];
                    this.nextPageUrl = null;
                    this.next_page_url = null;
                    this.current_page = 0;
                    this.loading = true;
                    this.currentItem = 0;
                    this.fetchData();
                }
            }
    }
</script>