<style>
</style>
<template>
   <div>
        <div class="row">
            <div class="col-xs-9">
                <h3>{{text}}</h3>
            </div>
            <div class="col-xs-3">
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-primary" @click="plusSlides(-1)"></a>
                    <a class="right fa fa-chevron-right btn btn-primary" @click="plusSlides(1)"></a>
                </div>
            </div>
        </div>

        <div v-for="(item_,ind) in storeItems" class="item" v-bind:class="{ 'hidden': ind!=currentItem}">
            <div class="row">
                <div v-for="columa in item_" v-bind:class="{ 'col-sm-4': degree===1, 'col-sm-3': degree===2,'col-sm-3': degree===3 }">
                    <div class="col-item" style="border:none;">
                        <store-item :store="columa" :withFavouriteButton="true"></store-item>
                    </div>
                </div>
            </div>
        </div>
    </div>     

</template>
<script>
    import StoreItem from './Item.vue';
    export default {
            props:[
                'degree',
                'category'
            ],
            data() {
                return {
                    storeItems:[],
                    nextPageUrl:null,
                    timer:null,
                    next_page_url:null,
                    current_page:0,
                    text:null,
                    loaded:false,
                    currentItem:0
                }
            },
            methods: {
                guid:function guid() {
                    function s4() {
                        return Math.floor((1 + Math.random()) * 0x10000)
                        .toString(16)
                        .substring(1);
                    }
                    return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                        s4() + '-' + s4() + s4() + s4();
                },
                getStores(){
                    if(this.next_page_url){
                        console.log("next request send");
                        Vue.http.get('api/stores/degree/'+this.degree+'/category/'+this.category+'?page='+(this.current_page+1)).then(response => {
                            
                            this.next_page_url = response.data.data.next_page_url;
                            this.current_page = response.data.data.current_page;
                            if(response.data.data.data){
                                this.setStores(response.data.data.data);
                            }
                        },response => {
                            console.log("stores got error");
                            console.log(response.bodyText);
                        });
                    }else{
                       this.timer =clearInterval(this.timer);
                       this.timer = null;        
                    }
                },
                doCarousel(){
                    if(this.currentItem===(this.storeItems.length-1)){
                        this.currentItem = 0;
                        this.getStores();
                    }else{
                        this.currentItem = this.currentItem+1;
                    }
                },
                plusSlides(n) {
                    this.currentItem=this.currentItem+n;
                    if(this.currentItem===(this.storeItems.length)){
                        this.currentItem = 0;
                    }                    
                },
                setStores:function(storeList){
                    let multiplier = 3;
                    if(this.degree===2||this.degree===3){
                        multiplier = 4;
                    }
                    let i_count = Math.floor(storeList.length/multiplier);
                    let remainder = storeList.length%multiplier;
 
                    for(var i=0;i<i_count;i++){
                        let newColList = [];
                        for(var h=i*multiplier;h<(i+1)*multiplier;h++){
                            newColList.push(storeList[h]);
                        }
                        this.storeItems.push(newColList);
                    }
                    if(remainder>0){
                        let newColListRemainder = [];
                        for(var j=i_count*multiplier;j<storeList.length;j++){
                            newColListRemainder.push(storeList[j]);
                        }
                        this.storeItems.push(newColListRemainder);
                    }
                },
                onerror(){
                    console.log("on img exists");
                }
            },
            mounted: function () {
                if(this.degree===1){
                    this.text = "Premium";
                }else if(this.degree===2){
                    this.text = "Medium";
                }else if(this.degree===3){
                    this.text = "Poor";
                }
            },
            beforeMount: function () {
                Vue.http.get('api/stores/degree/'+this.degree+'/category/'+this.category).then(response => {
                    this.storeItems = [];
                    console.log(response.data.data);
                    this.next_page_url = response.data.data.next_page_url;
                    this.current_page = response.data.data.current_page;
                    if(response.data.data.data){
                        this.setStores(response.data.data.data);
                        this.timer = setInterval(this.doCarousel,4000);
                        this.loaded = true;
                    }
                    
                },response => {
                    console.log("Store Item group");
                    console.log(response.bodyText);
                });	                                        
            },destroyed(){
                this.timer =clearInterval(this.timer);
                this.timer = null;
                console.log('store degree'+this.degree+' interval has destroyed');
            },
            components:{
                'store-item':StoreItem
            }
    }
</script>