<template>
     <div class="file-preview-frame krajee-default  file-preview-initial file-sortable kv-preview-thumb pull-left" v-bind:class="{'vip':store.degree==1}">
        <div @click="goToStore(store.id)" class="kv-file-content thumbnail-container"  v-if="store.photo_path">
            <img :src="'photos/stores/thumbnail/'+store.photo_path" alt="" class="thumbnail-img file-preview-image kv-preview-data" />
        </div>
        <div @click="goToStore(store.id)" class="kv-file-content thumbnail-container"  v-if="!store.photo_path">
            <img src="images/image-none.png" alt="" class="thumbnail-img file-preview-image kv-preview-data"/>
        </div>
        <div class="file-thumbnail-footer">
            <div class="file-footer-caption">
                <div class="file-caption-info">{{store.name}}</div>
            </div>
            <div class="file-actions">
                <div class="file-footer-buttons">
                    <button type="button" @click="goToStore(store.id)" class="btn btn-kv btn-default btn-outline-secondary" title="">
                        <i class="glyphicon glyphicon-new-window"></i>
                    </button>
                    <!--button type="button" @click="zoomStore()" class="btn btn-kv btn-default btn-outline-secondary" title="">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </button-->
                    <button type="button" v-if="withFavouriteButton==true&&inFavouritesPage==false" class="btn btn-kv btn-default btn-outline-secondary" @click="addToFavourite()" :title="words.favourites.value">
                        <i class="glyphicon glyphicon-star"></i>
                    </button>
                    <button type="button" v-if="inFavouritesPage==true" class="btn btn-kv btn-default btn-outline-secondary" @click="removeFromFavourites()" :title="words.remove.value">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>          
                </div>
            </div>
        </div>
        <store-modal :store="store" v-if="showModal"></store-modal>
    </div>       
</template>
<script>
    import Modal from './Modal.vue';
    import favouritesManager from '../Favourites/manager.js'
    import translate from '../../translate.js'

    import router from '../../router.js';
    export default {
        props:['store','withFavouriteButton','inFavouritesPage'],
        data() {
            return{
                showModal:false,
                words:translate.commonWords
            }
        },
        methods:{
            addToFavourite(){
                favouritesManager.AddStore(this.store);
            },
            goToStore(id){
                 router.push({
                    name: 'stores',params:{id:id}
                })
            },
            zoomStore(){
                this.showModal = true;
            },
            removeFromFavourites(){
               this.$emit('removeFromFavourites',this.store);
            }
        },
        beforeMount:function () {
     
        },
        components:{
            'store-modal':Modal,
        }
    }
</script>