<style>
    
</style>
<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header" style="border-bottom:none;">
                        <button type="button" class="close" style="right:55px;"  @click="close()">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-8 black">
                                <div class="item-container black" style="display: table;margin: 0 auto;">
                                    <img class="item-img" v-if="store.photo_path!=null" :src="'photos/stores/original/'+store.photo_path">
                                    <img class="item-img" v-if="store.photo_path==null" src="images/image-none.png">
                                </div>
                            </div>
                            <div class="col-xs-4" style="color:white;">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>{{words.store_name.value}}</td>
                                            <td><router-link :to="{name:'stores',params:{id:store.id}}">{{store.name}}</router-link></td>
                                        </tr>
                                        <tr>
                                            <td>{{words.info.value}}</td>
                                            <td>{{store.comment}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{words.seller_name.value}}</td>
                                            <td>{{store.user.name}}</td>
                                        </tr>
                                        
                                        <tr>
                                            <td>{{words.address.value}}</td>
                                            <td>{{store.address}}</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-phone"></i></td>
                                            <td>+{{store.user.phone}}</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-phone"></i></td>
                                            <td>+{{store.phone}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <button class="btn btn-warning" @click="addToFavourite()">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <br />
                                <a href="http://postexpress.kz/ru/rasschitat-stoimost/" target="_blank">
                                     <img src="images/logo_post_express.png"/>
                                </a>
                            </div>
                        </div>    
                    </div>

                    <div class="modal-footer">
                        
                    </div>
                </div>
            </div>
        </div>
    </transition>    
</template>
<script>
    import translate from '../../translate.js';
    import favouriteManager from '../Favourites/manager.js';
    export default{
       props:['store'],
       data(){
           return{
               words:translate.commonWords
           }
       },
       components:{
       },
       methods:{
            close(){
                this.$parent.$data.showModal = false;
            },
            addToFavourite(){
                 favouriteManager.AddStore(this.product);
            }
       },
       beforeMount:function(){
           
       }
       
    }
</script>

