<style>
    
</style>
<template>
    <div class="container">
        <div class="row card">
            <router-link v-if="isFromprofile==true" class="btn btn-primary" :to="{name:'dashboard',params:{type:'profile'}}"><span class="glyphicon glyphicon-arrow-left"></span>  {{words.back.value}}</router-link>
            <br />
            <div align="center" v-if="!hasLoaded">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="font-size: 100px;"></span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" v-if="hasLoaded" v-bind:class="{'image-on-center':windowWidth!='xs'}">
                <img :src="'photos/stores/original/'+store.photo_path" style="max-width: 100%;max-height: 100%;width: auto;height: auto;">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" v-if="hasLoaded">
                <h3 class="product-title">{{store.name}}</h3>
                <div class="rating">
                    <!--div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div-->
                    <!--span class="review-no">41 reviews</span-->
                </div>
                <p class="product-description">{{store.comment}}</p>
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td>{{words.seller_name.value}}</td>
                            <td>{{store.user.name}}</td>
                        </tr>
                        <tr>
                            <td>{{words.address.value}}</td>
                            <td>{{store.address}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-phone"></i></td>
                            <td>+{{store.user.phone}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-phone"></i></td>
                            <td>{{store.phone}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="action">
                    <button class="like btn btn-default" @click="addToFavourite()" type="button"><span class="fa fa-star"></span></button>
                </div>
                <br />
                <div>
                    <a style="margin-right:10px;" href="http://postexpress.kz/ru/rasschitat-stoimost/" target="_blank">
                        <img src="images/logo_post_express.png" style="width: 120px;height: 50px;">
                    </a> 
                    <a style="margin-right:10px;" href="https://post.kz/courier" target="_blank">
                        <img src="images/logo_kaz_post.svg" style="width: 45%;">
                    </a> 
                </div>
            </div>        
        </div>
        <h4 v-if="hasLoaded">{{words.products.value}}</h4>
        <ul v-if="hasLoaded" class="hide-bullets">
            <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3" v-for="(product,index) in store.products">
                <product-item :modalInSide="true" :product="product" :withFavouriteButton="true" :inFavouritesPage="false"></product-item>
            </li>
        </ul>        
    </div>
</template>
<script>
    import translate from '../../translate.js'
    import favouriteManager from '../Favourites/manager.js';
    import ProductItem from '../Product/Item.vue';
    export default{
       data(){
           return{
               words:translate.commonWords,
               store:null,
               hasLoaded:false,
               isFromprofile:false,
               windowWidth:window.currentWindowWidth
           }
       },
       components:{
           'product-item':ProductItem
       },
       methods:{
            addToFavourite(){
                 favouriteManager.AddStore(this.store);
            }
       },
       beforeMount: function () {
            Vue.http.get('api/stores/'+this.$route.params.id ).then(response => {
                    this.store = response.data.data;
                    if(this.store.products){
                        for(let i=0;i<this.store.products.length;i++){
                            this.store.products[i].store = this.store;
                            this.store.products[i].user = this.store.user;
                        }
                    }
                    this.hasLoaded = true;
                    console.log(response.data.data);
                },response => {
                    this.hasLoaded = true;
                console.log("store got error");console.log(response.bodyText);
            });	                                        
        },
        watch:{
          '$route' (to, from) {
                if(from.name=="dashboard"){
                    this.isFromprofile = true;
                }
          }
        }
       
    }
</script>